SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:mysql://YOUR_RDS_ENDPOINT:3306/moongchijang_dev
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD

REDIS_HOST=YOUR_REDIS_ENDPOINT
REDIS_PORT=6379

S3_BUCKET=YOUR_S3_BUCKET_NAME
S3_PREFIX=dev
