DB_URL=jdbc:mysql://localhost:3306/moongchijang_local?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=moongchijang
DB_PASSWORD=moongchijang

REDIS_HOST=localhost
REDIS_PORT=6379

MYSQL_DATABASE=moongchijang_local
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=moongchijang
MYSQL_PASSWORD=moongchijang

SES_ENABLED=
SES_REGION=
SES_FROM_EMAIL=
