openapi: 3.0.3

info:
  title: 뭉치장 API
  description: |
    유행 음식 공동구매 플랫폼 뭉치장의 API 명세입니다.

    ## 인증
    로그인이 필요한 API는 `Authorization: Bearer {accessToken}` 헤더를 포함해야 합니다.

    ## 공통 응답 형식
    모든 응답은 아래 구조를 따릅니다.
    ```json
    { "success": true, "data": { ... }, "error": null }
    { "success": false, "data": null, "error": { "code": "ERROR_CODE", "message": "설명", "detail": "상세" } }
    ```
  version: v1

servers:
  - url: https://api.moongchijang.com/dev
    description: 개발 서버
  - url: http://localhost:8080
    description: 로컬 서버

tags:
  - name: Auth
    description: 카카오 로그인 및 토큰 관리
  - name: GroupBuy
    description: 공구 피드 · 상세 · 달성률
  - name: GroupBuyRequest
    description: 공구 개설 요청 (소비자)
  - name: Wishlist
    description: 찜 추가 · 해제 · 목록
  - name: Participation
    description: 공구 참여 · 결제 · 취소 · 환불
  - name: Pickup
    description: 픽업 안내 · QR 코드
  - name: Notification
    description: 알림 목록 · 읽음 처리
  - name: MyPage
    description: 마이페이지 (참여중 · 완료 · 환불 · 요청 내역)
  - name: Owner
    description: 사장님 전용 (QR 스캔 · 홈 · 예약 목록)
  - name: Admin
    description: 운영자 전용 (공구요청 · 공구관리 · 환불 · 정산)

paths:

  # ─────────────────────────────────────────────────────────────
  # Auth
  # ─────────────────────────────────────────────────────────────
  /api/v1/auth/kakao:
    post:
      tags: [Auth]
      summary: 카카오 로그인 / 회원가입
      description: 카카오 인가 코드로 로그인하거나 최초 가입 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KakaoLoginRequest'
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: refreshToken HttpOnly 쿠키
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuthLogin'

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Access Token 갱신
      description: HttpOnly 쿠키의 refreshToken을 검증해 Access Token을 재발급한다.
      responses:
        '200':
          description: 토큰 갱신 성공
          headers:
            Set-Cookie:
              description: refreshToken rotation 시 신규 refreshToken 쿠키
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAccessToken'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: 로그아웃
      description: Refresh Token을 무효화한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me:
    get:
      tags: [Auth]
      summary: 내 정보 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 내 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUserInfo'
    delete:
      tags: [Auth]
      summary: 회원 탈퇴
      description: |
        회원 탈퇴를 처리한다.
        - 수령 예정 공구(달성 완료 + 픽업 미완료)가 있으면 탈퇴할 수 없다.
        - 참여 중 공구(PAID_WAITING_GOAL)는 자동 취소된다.
        - 찜 목록은 모두 삭제된다.
        - 동일 계정은 탈퇴 후 30일 이후 재가입 가능하다.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/users/nickname/availability:
    get:
      tags: [Auth]
      summary: 닉네임 중복 확인
      description: 추가정보 입력(0.5) 단계에서 닉네임 사용 가능 여부를 확인한다.
      security:
        - bearerAuth: []
      parameters:
        - name: nickname
          in: query
          required: true
          description: 2~10자, 한글/영문/숫자만 허용
          schema:
            type: string
            minLength: 2
            maxLength: 10
            pattern: "^[A-Za-z0-9가-힣]{2,10}$"
      responses:
        '200':
          description: 닉네임 사용 가능 여부
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNicknameAvailability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/additional-info:
    patch:
      tags: [Auth]
      summary: 추가 정보 입력 완료
      description: |
        신규 가입 공통(카카오/이메일) 추가 정보 입력을 저장한다.
        성공 시 nickname, phoneNumber, signupCompleted가 반영된다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdditionalInfoUpsertRequest'
      responses:
        '200':
          description: 추가 정보 저장 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdditionalInfoUpdated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/users/me/seller/business-registration/lookup:
    post:
      tags: [Auth]
      summary: 사업자등록번호 조회
      description: |
        사업자등록번호를 조회해 상태를 반환한다.
        - `VALID`: 정상 사업자(계속사업자)
        - `CLOSED`: 휴업/폐업
        - `NOT_FOUND`: 조회 불가/미확인
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessRegistrationLookupRequest'
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBusinessRegistrationLookup'
        '400':
          description: 입력값 검증 실패 (예: INVALID_BUSINESS_REGISTRATION_NUMBER_FORMAT)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/seller/business-info:
    patch:
      tags: [Auth]
      summary: 사장님 사업자 정보 저장
      description: 사장님 가입의 사업자 정보를 저장한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellerBusinessInfoUpsertRequest'
      responses:
        '200':
          description: 저장 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSellerSignupStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/seller/settlement-info:
    patch:
      tags: [Auth]
      summary: 사장님 정산 정보 저장
      description: 사장님 정산 정보를 저장하고 사장님 가입 완료 상태를 반영한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellerSettlementInfoUpsertRequest'
      responses:
        '200':
          description: 저장 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSellerSignupStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/email/availability:
    get:
      tags: [Auth]
      summary: 이메일 중복 확인
      description: 이메일 회원가입 전 가입 가능 이메일인지 확인한다.
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: 이메일 사용 가능 여부
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEmailAvailability'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/auth/email/verification-codes:
    post:
      tags: [Auth]
      summary: 이메일 인증코드 발송
      description: 6자리 숫자 인증코드를 이메일로 발송한다. (유효시간 3분, 재발송 60초 쿨다운, 1일 5회 제한)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationCodeSendRequest'
      responses:
        '200':
          description: 인증코드 발송 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEmailVerificationCodeSent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/auth/email/verification-codes/verify:
    post:
      tags: [Auth]
      summary: 이메일 인증코드 확인
      description: 인증코드가 일치하면 이메일 인증 완료 상태로 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationCodeVerifyRequest'
      responses:
        '200':
          description: 인증코드 확인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEmailVerificationVerified'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/auth/phone/verification-codes:
    post:
      tags: [Auth]
      summary: 전화번호 인증코드 발송
      description: 6자리 숫자 인증코드를 전화번호로 발송한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationCodeSendRequest'
      responses:
        '200':
          description: 인증코드 발송 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneVerificationCodeSent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/auth/phone/verification-codes/verify:
    post:
      tags: [Auth]
      summary: 전화번호 인증코드 확인
      description: 인증코드가 일치하면 전화번호 인증 완료 상태로 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationCodeVerifyRequest'
      responses:
        '200':
          description: 인증코드 확인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneVerificationVerified'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/auth/email/signup:
    post:
      tags: [Auth]
      summary: 이메일 회원가입
      description: 이메일 인증 완료 후 비밀번호를 설정해 계정을 생성하고 로그인 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSignupRequest'
      responses:
        '200':
          description: 회원가입 및 로그인 성공
          headers:
            Set-Cookie:
              description: refreshToken HttpOnly 쿠키
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuthLogin'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/auth/email/login:
    post:
      tags: [Auth]
      summary: 이메일 로그인
      description: 이메일과 비밀번호를 검증하고 로그인 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailLoginRequest'
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: refreshToken HttpOnly 쿠키
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuthLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/password/reset-link:
    post:
      tags: [Auth]
      summary: 비밀번호 재설정 링크 발송
      description: 가입된 이메일로 비밀번호 재설정 링크를 발송한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetLinkRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/users/me/profile:
    patch:
      tags: [Auth]
      summary: 프로필 수정
      description: 닉네임과 전화번호를 수정한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
      responses:
        '200':
          description: 프로필 수정 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseProfileUpdated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/users/me/phone/verification-codes:
    post:
      tags: [Auth]
      summary: 전화번호 변경 인증코드 발송
      description: 새 전화번호 검증을 위한 6자리 인증코드를 발송한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationCodeSendRequest'
      responses:
        '200':
          description: 인증코드 발송 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneVerificationCodeSent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/phone/verification-codes/verify:
    post:
      tags: [Auth]
      summary: 전화번호 변경 인증코드 확인
      description: 인증코드 확인 후 전화번호 변경 가능 상태를 확정한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationCodeVerifyRequest'
      responses:
        '200':
          description: 인증코드 확인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneVerificationVerified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/password/change:
    post:
      tags: [Auth]
      summary: 비밀번호 변경 (이메일 가입자 전용)
      description: 현재 비밀번호를 확인하고 새 비밀번호로 변경한다. 변경 완료 시 세션을 무효화한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChangeRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/users/me/regions:
    get:
      tags: [Auth]
      summary: 내 관심 지역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 관심 지역 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMyRegions'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Auth]
      summary: 관심 지역 저장/수정 (전체 교체)
      description: 기존 관심 지역을 모두 삭제하고 요청 목록으로 새로 저장한다. 빈 배열이면 전체 해제.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRegionsRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─────────────────────────────────────────────────────────────
  # GroupBuy
  # ─────────────────────────────────────────────────────────────
  /api/v1/group-buys:
    get:
      tags: [GroupBuy]
      summary: 공구 피드 목록 조회
      description: |
        진행 중인 공구 목록(2열 카드 피드)을 페이지네이션으로 조회한다. 비로그인 허용.
        - `filter=ALL`: 전체
        - `filter=CLOSING_SOON`: 마감임박 (마감일 D-3 이하)
        - `filter=ALMOST_ACHIEVED`: 달성임박 (달성률 80% 이상)
        - 지역 필터는 `districts`로 복수 선택(최대 10개) 가능
        - 클라이언트 표시는 한글 라벨, 요청 전송값은 영문 코드(enum) 사용
        - 선택 규칙:
          - 같은 시/도 내 `*_ALL`과 하위 세부지역 동시 선택 불가
          - 전체 선택 개수(지역/세부지역 통합) 최대 10개
      parameters:
        - name: filter
          in: query
          description: 전체/마감임박/달성임박 단일 선택 칩
          schema:
            type: string
            enum: [ALL, CLOSING_SOON, ALMOST_ACHIEVED]
            default: ALL
        - name: districts
          in: query
          description: "지역/세부지역 통합 필터 (복수 선택, 최대 10개, 예: SEOUL_ALL / SEOUL_GANGNAM_YEOKSAM_SAMSEONG)"
          schema:
            type: array
            maxItems: 10
            items:
              $ref: '#/components/schemas/DistrictType'
          style: form
          explode: true
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 공구 피드 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyFeedPageResponse'
        '400':
          description: "잘못된 필터 요청 (예: 같은 시/도 ALL+하위 동시 선택, 선택 개수 10개 초과)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'

  /api/v1/group-buys/{groupBuyId}:
    get:
      tags: [GroupBuy]
      summary: 공구 상세 조회
      description: 공구의 상품·매장·픽업·이미지 정보를 조회한다. 비로그인 허용.
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          description: 공구 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/group-buys/{groupBuyId}/progress:
    get:
      tags: [GroupBuy]
      summary: 단일 공구 달성률 조회 (폴링용)
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          description: 달성률
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyProgress'

  /api/v1/group-buys/{groupBuyId}/viewers/heartbeat:
    post:
      tags: [GroupBuy]
      summary: 활성 조회자 heartbeat 조회/갱신
      description: |
        공구 상세 화면 진입 시 및 체류 중 일정 주기(예: 20~30초)로 호출한다.
        서버는 세션 TTL을 연장하고 최신 활성 조회자 수를 반환한다.
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupBuyViewerHeartbeatRequest'
      responses:
        '200':
          description: 활성 조회자 수 조회/갱신 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyViewerCount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/group-buys/progress:
    get:
      tags: [GroupBuy]
      summary: 다건 공구 달성률 조회 (피드 갱신용)
      parameters:
        - name: ids
          in: query
          required: true
          description: 조회할 공구 ID 목록 (양수 ID만 허용, 최대 20개)
          schema:
            type: array
            items:
              type: integer
              format: int64
              minimum: 1
            maxItems: 20
      responses:
        '200':
          description: 공구별 달성률 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyProgressList'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/group-buys/{groupBuyId}/share:
    get:
      tags: [GroupBuy]
      summary: 공유 메타데이터 조회
      description: SNS 공유용 딥링크 URL 및 카드 메타데이터를 반환한다.
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          description: 공유 메타데이터
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseShareMeta'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/search:
    post:
      tags: [GroupBuy]
      summary: 검색 실행 및 AI 키워드 분석 (1.1.4-1)
      description: |
        검색어를 입력하면 동네/베이커리 키워드를 AI로 분석하고 최근 검색어로 저장한다.
        분석 결과에 따라 4가지 케이스로 분기한다.
        자체 검색 결과가 없을 때 제공되는 recommendedStores는 Naver Local Search 결과 중
        베이커리/디저트 도메인으로 분류된 매장만 반환한다.
        - case 1: 베이커리 인식, 동네 미인식
        - case 2: 동네 인식, 베이커리 미인식
        - case 3: 동네+베이커리 모두 인식
        - case 4: 모두 인식 불가
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [keyword]
              properties:
                keyword:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: AI 분석 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSearchAnalysis'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/search/recent:
    get:
      tags: [GroupBuy]
      summary: 최근 검색어 목록 조회
      description: |
        검색창 탭 시 표시할 사용자의 최근 검색어를 최신순으로 반환한다. (1.1.4-10)
        동일 검색어는 중복 저장하지 않고 가장 최근 검색 위치로 이동한다.
        최근 검색어는 최대 10개까지 반환하며, 검색 이력이 없으면 빈 배열을 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 최근 검색어 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRecentSearchList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags: [GroupBuy]
      summary: 최근 검색어 전체 삭제
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'

  /api/v1/search/recent/{keyword}:
    delete:
      tags: [GroupBuy]
      summary: 최근 검색어 단건 삭제
      security:
        - bearerAuth: []
      parameters:
        - name: keyword
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'

  # ─────────────────────────────────────────────────────────────
  # GroupBuyRequest (소비자)
  # ─────────────────────────────────────────────────────────────
  /api/v1/stores/search:
    get:
      tags: [GroupBuyRequest]
      summary: 매장 검색 자동완성 (2.1.1-1)
      description: |
        매장명 또는 주소 입력 시 외부 지도/장소 API 기반 매장 후보 목록을 반환한다.
        각 항목은 매장명과 주소를 함께 포함한다. 예: 모모양과 / 서울 성북구 화랑로11길 23
      parameters:
        - name: keyword
          in: query
          required: true
          description: 매장명 또는 주소 검색어
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: 매장 후보 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStoreSearchList'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/group-buy-requests:
    post:
      tags: [GroupBuyRequest]
      summary: 공구 개설 요청 제출
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupBuyRequestCreate'
      responses:
        '201':
          description: 요청 접수 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRequestId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [GroupBuyRequest]
      summary: 내 공구 요청 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 내 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyRequestList'

  /api/v1/group-buy-requests/{requestId}:
    get:
      tags: [GroupBuyRequest]
      summary: 공구 요청 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: 요청 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyRequestDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/group-buy-open-requests:
    post:
      tags: [GroupBuyRequest]
      summary: 공구 개설 알림 신청
      description: |
        특정 지역/상품 조합으로 공구가 개설되면 알림을 받기 위해 등록한다.
        검색 결과가 비어 있을 때(EMPTY_CAN_REQUEST 상태) 진입 가능한 진입점이다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [region, productName]
              properties:
                region:
                  type: string
                  maxLength: 50
                  description: 알림 신청 대상 지역(동/구 등)
                productName:
                  type: string
                  maxLength: 100
                  description: 알림 신청 대상 상품명
      responses:
        '201':
          $ref: '#/components/responses/SuccessNoData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/group-buy-open-requests/store-recommendations:
    post:
      tags: [GroupBuyRequest]
      summary: 매장 추천 바텀시트용 네이버 Local Search 매장 후보 조회
      description: |
        1.1.4-9 매장 추천 바텀시트용 API.

        Case 1~4의 바텀시트에서 동네·상품 조건이 모두 확정된 후 CTA 버튼을 탭하면,
        백엔드는 네이버 Local Search API를 조회하여 해당 조건에 맞는 매장 후보를 검색한다.

        매장 후보는 최대 10개까지 반환하며, 추천 매장 후보는 다음 기준을 반영해 정렬한다.

        - 네이버 Local Search API의 기본 관련도 순서
        - 매장 주소가 선택한 동네와 일치하거나 포함되는지 여부
        - 매장 카테고리가 상품 조건과 관련 있는지 여부
        - 자사 DB에 등록된 매장인지 여부
        - 해당 매장의 과거 공구 이력이 있는지 여부

        네이버 결과가 0건이거나 네이버 API 호출 실패/timeout이 발생하면 `stores=[]`를 반환하며,
        프론트는 기존 공구 개설 요청 플로우로 fallback한다.

        중복 매장은 하나로 합쳐 반환하고, 매장명에 포함된 HTML 태그는 제거해서 반환한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreRecommendationRequest'
      responses:
        '200':
          description: 추천 매장 후보 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStoreRecommendation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─────────────────────────────────────────────────────────────
  # Wishlist
  # ─────────────────────────────────────────────────────────────
  /api/v1/group-buys/{groupBuyId}/wishlist:
    post:
      tags: [Wishlist]
      summary: 찜 추가
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '201':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags: [Wishlist]
      summary: 찜 해제
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/wishlists:
    get:
      tags: [Wishlist]
      summary: 찜 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - name: filter
          in: query
          schema:
            type: string
            enum: [ALL, CLOSING_SOON, OPEN]
            default: ALL
          description: ALL=전체 / CLOSING_SOON=마감임박(D-3) / OPEN=모집중
        - name: excludeClosed
          in: query
          schema:
            type: boolean
            default: false
          description: true면 마감 공고 제외, false면 마감 포함
        - name: sort
          in: query
          schema:
            type: string
            enum: [LATEST, DEADLINE]
            default: LATEST
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 찜 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseWishlistPage'

  # ─────────────────────────────────────────────────────────────
  # Participation & Payment
  # ─────────────────────────────────────────────────────────────
  /api/v1/admin/summary:
    get:
      tags: [Admin]
      summary: 운영자 대시보드 요약 정보
      description: 헤더에 항상 노출되는 대기중 요청 / 진행 중 공구 / 달성률 / 대기 환불 요약을 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 대시보드 요약
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminDashboardSummary'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/group-buys/{groupBuyId}/checkout:
    get:
      tags: [Participation]
      summary: 참여하기 화면 결제 정보 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
        - name: quantity
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: 참여 수량
      responses:
        '200':
          description: 상품 요약 및 결제 금액 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckoutInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/group-buys/{groupBuyId}/payment-orders:
    post:
      tags: [Participation]
      summary: PortOne 결제 주문 생성
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentOrderCreate'
      responses:
        '200':
          description: PortOne SDK 요청에 필요한 결제 주문 정보 반환
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePaymentOrderCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/payments/portone/complete:
    post:
      tags: [Participation]
      summary: PortOne 결제 완료 서버 검증
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentConfirm'
      responses:
        '200':
          description: 결제 검증 및 참여 확정 처리 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePaymentConfirmed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/payments/portone/webhook:
    post:
      tags: [Participation]
      summary: PortOne 결제 웹훅 수신
      description: 웹훅 본문만 신뢰하지 않고 서버에서 PortOne 결제 단건 조회 후 상태를 동기화한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortOneWebhook'
      responses:
        '200':
          description: 웹훅 수신 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePortOneWebhook'

  /api/v1/participations/{participationId}/cancel:
    post:
      tags: [Participation]
      summary: 참여 취소 (달성 전 이탈)
      description: 공구 달성 전에만 취소 가능하며 결제 금액이 자동 환불된다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelParticipationRequest'
      responses:
        '200':
          description: 참여 취소 및 환불 처리 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCancelParticipation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────────────────────
  # Pickup & QR
  # ─────────────────────────────────────────────────────────────
  /api/v1/participations/{participationId}/pickup:
    get:
      tags: [Pickup]
      summary: 픽업 안내 정보 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      responses:
        '200':
          description: 픽업 안내 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePickupInfo'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/participations/{participationId}/qr:
    get:
      tags: [Pickup]
      summary: QR 픽업 코드 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      responses:
        '200':
          description: QR 코드 데이터
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseQrCode'

  /api/v1/pickups/me/nearest-qr:
    get:
      tags: [Pickup]
      summary: 피드용 가장 가까운 픽업 QR 조회
      description: |
        피드 진입 시 사용자의 가장 가까운 픽업 QR 후보를 조회한다.
        당일 픽업 예정 건이 있으면 픽업 시작 시간이 가장 빠른 건을 반환하고,
        당일 건이 여러 개면 hasMultipleToday=true로 내려준다.
        당일 픽업 건이 없고 향후 픽업 예정 건만 있으면 LOCKED 상태와 qrCode=null로 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 가장 가까운 픽업 QR 후보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNearestPickupQr'

  /api/v1/pickups/{qrCode}/verify:
    post:
      tags: [Pickup]
      summary: QR 코드 스캔 검증 및 수령 처리
      description: |
        SELLER 권한 사용자가 본인 매장 공구의 소비자 QR을 스캔하면 READY → PICKED_UP으로 자동 전환한다.
        ADMIN 권한 사용자는 운영 대리 처리 용도로 매장 소속 검증 없이 처리할 수 있다.
        응답에는 사장님 스캔 결과 화면에 필요한 유저이름, 상품명, 수량, 픽업 상태를 포함한다.
      security:
        - bearerAuth: []
      parameters:
        - name: qrCode
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 수령 처리 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePickupVerify'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────────────────────
  # Notification
  # ─────────────────────────────────────────────────────────────
  /api/v1/notifications:
    get:
      tags: [Notification]
      summary: 알림 목록 조회 (폴링용)
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          description: 알림 카테고리 필터
          schema:
            type: string
            enum: [ALL, WISH, APPLY, PICKUP, REQUEST]
            default: ALL
        - name: cursor
          in: query
          required: false
          description: "다음 페이지 조회 커서. 형식: `{occurredAt}|{id}`"
          schema:
            type: string
            example: "2026-05-22T09:00:00|101"
        - name: limit
          in: query
          required: false
          description: 조회 개수 (1~100, 기본 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 알림 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/notifications/unread-count:
    get:
      tags: [Notification]
      summary: 미읽음 알림 개수 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 미읽음 개수
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationUnreadCountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/notifications/read-all:
    patch:
      tags: [Notification]
      summary: 전체 알림 읽음 처리
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/notifications/{notificationId}/read:
    patch:
      tags: [Notification]
      summary: 알림 단건 읽음 처리
      security:
        - bearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────
  # MyPage
  # ─────────────────────────────────────────────────────────────
  /api/v1/users/me/participations:
    get:
      tags: [MyPage]
      summary: 내 참여 내역 상태별 조회
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: true
          schema:
            type: string
            enum: [IN_PROGRESS, PICKUP_WAITING, PICKUP_COMPLETED, CANCELLED_OR_REFUNDED]
          description: IN_PROGRESS=진행 중 / PICKUP_WAITING=픽업 대기 / PICKUP_COMPLETED=픽업 완료 / CANCELLED_OR_REFUNDED=환불·취소
      responses:
        '200':
          description: 상태별 참여 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMypageParticipationList'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/users/me/participations/in-progress:
    get:
      tags: [MyPage]
      summary: 진행 중 탭 참여 공구 목록 조회
      description: 페이지네이션 기반으로 진행 중 탭 카드를 조회한다. 정렬 기준은 참여일시(participatedAt) 내림차순이다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 진행 중 참여 공구 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseInProgressParticipationPage'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/participations/pickup-waiting:
    get:
      tags: [MyPage]
      summary: 픽업 대기 탭 참여 완료 공구 이력 조회
      description: 페이지네이션 기반으로 픽업 대기 탭 카드를 조회한다. 정렬 기준은 참여일시(participatedAt) 내림차순이다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 픽업 대기 참여 공구 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePickupWaitingParticipationPage'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/group-buy-requests:
    get:
      tags: [MyPage]
      summary: 내 공구 개설 요청 내역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 개설 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMypageGroupBuyRequestList'

  /api/v1/users/me/tabs/counts:
    get:
      tags: [MyPage]
      summary: 마이페이지 탭별 건수 조회
      description: 진행 중 · 픽업 대기 · 픽업 완료 · 환불/취소 · 개설요청 건수를 반환한다 (탭 칩 괄호 숫자용).
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 탭별 건수
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTabCounts'

  /api/v1/mypage/summary:
    get:
      tags: [MyPage]
      summary: 마이페이지 탭별 건수 조회
      description: 진행 중 · 픽업 대기 · 픽업 완료 · 환불/취소 · 개설요청 건수를 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 탭별 건수
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTabCounts'

  /api/v1/mypage/refunds:
    get:
      tags: [MyPage]
      summary: 내 환불 내역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 환불 내역 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRefundList'

  /api/v1/users/me/refunds:
    get:
      tags: [MyPage]
      summary: 내 환불 내역 조회 (마이페이지 alias)
      description: /api/v1/mypage/refunds 와 동일한 응답을 반환한다. 신규 클라이언트는 본 경로를 사용한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 환불 내역 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRefundList'

  /api/v1/mypage/group-buy-requests:
    get:
      tags: [MyPage]
      summary: 내 공구 개설 요청 내역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 개설 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMypageGroupBuyRequestList'

  # ─────────────────────────────────────────────────────────────
  # Owner
  # ─────────────────────────────────────────────────────────────
  /api/v1/owner/home/summary:
    get:
      tags: [Owner]
      summary: 사장님 홈 요약 정보
      description: 픽업 대기/완료 건수, 진행 중 공구 수, 다음 픽업 시간을 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 홈 요약
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerSummary'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/home/pickup-schedule:
    get:
      tags: [Owner]
      summary: 시간대별 픽업 현황 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 시간대별 현황
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePickupScheduleList'

  /api/v1/owner/group-buys:
    get:
      tags: [Owner]
      summary: 진행 중인 공구 목록 조회 (사장님용)
      description: |
        사장님이 소속된 매장의 공구를 조회한다.
        공구 상태는 진행 중(IN_PROGRESS), 달성(ACHIEVED), 미달(FAILED) 기준으로 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 진행 중 공구 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/group-buy-requests:
    get:
      tags: [Owner]
      summary: 사장님 공구 개설 요청 목록 조회
      description: 사장님이 본인 매장 기준으로 제출한 공구 개설 요청 목록을 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 사장님 공구 개설 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyRequestList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Owner]
      summary: 사장님 공구 개설 요청 제출
      description: |
        사장님이 본인 매장에 대한 공구 개설 요청을 제출한다.
        - SELLER 권한만 요청할 수 있다.
        - storeId는 요청자에게 연결된 매장이어야 한다.
        - imageUrls의 첫 번째 이미지를 대표 이미지(thumbnailUrl)로 저장한다.
        - 희망 공구 기간은 현재 시각 기준 최소 7일 이상이어야 한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnerGroupBuyRequestCreate'
      responses:
        '201':
          description: 사장님 공구 개설 요청 생성 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyRequestCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/group-buy-requests/{requestId}:
    get:
      tags: [Owner]
      summary: 사장님 공구 개설 요청 상세 조회
      description: 사장님이 본인 매장 기준으로 제출한 공구 개설 요청 상세와 승인/반려 상태를 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 사장님 공구 개설 요청 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyRequestDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/reservations:
    get:
      tags: [Owner]
      summary: 픽업 예약자 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ALL, WAITING, COMPLETED]
            default: ALL
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 예약자 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReservationPage'

  /api/v1/owner/reservations/{participationId}/complete:
    patch:
      tags: [Owner]
      summary: 수령 처리 (수동)
      description: QR 없이 수동으로 수령 완료 처리한다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────────────────────
  # Admin
  # ─────────────────────────────────────────────────────────────
  /api/v1/admin/group-buy-requests:
    get:
      tags: [Admin]
      summary: 공구 요청 목록 조회 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ALL, IN_REVIEW, IN_CONTACT, OPENED, REJECTED]
            default: ALL
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 공구 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminRequestPage'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/group-buy-requests/{requestId}:
    get:
      tags: [Admin]
      summary: 공구 요청 상세 조회 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: 요청 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminRequestDetail'

  /api/v1/admin/group-buy-requests/{requestId}/status:
    patch:
      tags: [Admin]
      summary: 공구 요청 상태 변경
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRequestStatusUpdate'
      responses:
        '200':
          description: 상태 변경 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyRequestDetail'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/admin/group-buys:
    get:
      tags: [Admin]
      summary: 진행 중인 공구 현황 목록 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ALL, IN_PROGRESS, ACHIEVED]
            default: ALL
      responses:
        '200':
          description: 공구 현황 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminGroupBuyList'
    post:
      tags: [Admin]
      summary: 공구 개설 (운영자)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminGroupBuyCreate'
      responses:
        '201':
          description: 공구 개설 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyId'

  /api/v1/admin/group-buys/{groupBuyId}:
    get:
      tags: [Admin]
      summary: 공구 상세 조회 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          description: 공구 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminGroupBuyDetail'
    patch:
      tags: [Admin]
      summary: 공구 정보 수정 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminGroupBuyUpdate'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'

  /api/v1/admin/group-buys/{groupBuyId}/order-confirm:
    post:
      tags: [Admin]
      summary: 발주 확정 처리
      description: ACHIEVED 상태 공구에 대해 발주를 확정한다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/admin/group-buys/{groupBuyId}/order-sheet:
    post:
      tags: [Admin]
      summary: 발주서 발송
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'

  /api/v1/admin/refunds:
    get:
      tags: [Admin]
      summary: 환불 처리 현황 목록 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ALL, WAITING, COMPLETED]
            default: ALL
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 환불 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminRefundPage'

  /api/v1/admin/refunds/{participationId}/manual:
    post:
      tags: [Admin]
      summary: 수동 환불 처리
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminManualRefund'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/admin/settlements:
    get:
      tags: [Admin]
      summary: 정산 내역 목록 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - name: escrowStatus
          in: query
          schema:
            type: string
            enum: [ALL, HOLDING, RELEASED]
            default: ALL
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 정산 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSettlementPage'
    post:
      tags: [Admin]
      summary: 정산 생성 및 처리
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSettlementCreate'
      responses:
        '201':
          description: 정산 생성 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSettlementId'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/admin/settlements/{settlementId}/release:
    post:
      tags: [Admin]
      summary: 에스크로 해제
      security:
        - bearerAuth: []
      parameters:
        - name: settlementId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '409':
          $ref: '#/components/responses/Conflict'

# ─────────────────────────────────────────────────────────────────
# Components
# ─────────────────────────────────────────────────────────────────
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    GroupBuyId:
      name: groupBuyId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ParticipationId:
      name: participationId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    RequestId:
      name: requestId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 0
    Size:
      name: size
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100

  responses:
    SuccessNoData:
      description: 성공 (데이터 없음)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseEmpty'
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    Conflict:
      description: 상태 충돌
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    TooManyRequests:
      description: 요청 횟수 초과
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'

  schemas:

    # ── 공통 응답 래퍼 ──────────────────────────────────────────
    ApiResponseEmpty:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data: { nullable: true, example: null }
        error: { nullable: true, example: null }

    ApiResponseError:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: false }
        data: { nullable: true, example: null }
        error:
          type: object
          required: [code, message, detail]
          properties:
            code: { type: string, example: GROUPBUY_NOT_FOUND }
            message: { type: string, example: 존재하지 않는 공구입니다 }
            detail: { type: string, nullable: true }

    # ── Auth ───────────────────────────────────────────────────
    KakaoLoginRequest:
      type: object
      required: [authorizationCode]
      properties:
        authorizationCode:
          type: string
          description: 카카오 인가 코드
        redirectUri:
          type: string
          nullable: true
          description: 카카오 인가 요청 시 사용한 redirect URI (서버 검증용)

    ApiResponseAuthLogin:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [accessToken, tokenType, expiresIn, isNewUser, user]
          properties:
            accessToken: { type: string }
            tokenType: { type: string, example: Bearer }
            expiresIn: { type: integer, format: int64, description: Access Token 만료 시간(초) }
            isNewUser: { type: boolean, description: 최초 가입 여부 }
            user:
              $ref: '#/components/schemas/AuthUser'
        error: { nullable: true, example: null }

    ApiResponseAccessToken:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [accessToken, tokenType, expiresIn]
          properties:
            accessToken: { type: string }
            tokenType: { type: string, example: Bearer }
            expiresIn: { type: integer, format: int64, description: Access Token 만료 시간(초) }
        error: { nullable: true, example: null }

    ApiResponseUserInfo:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          $ref: '#/components/schemas/AuthUser'
        error: { nullable: true, example: null }

    AdditionalInfoUpsertRequest:
      type: object
      required: [nickname, phoneNumber]
      properties:
        nickname:
          type: string
          description: 2~10자, 한글/영문/숫자만 허용
          minLength: 2
          maxLength: 10
          pattern: "^[A-Za-z0-9가-힣]{2,10}$"
        phoneNumber:
          type: string
          description: 하이픈 포함 휴대폰 번호 (01X-XXXX-XXXX)
          pattern: "^01[0-9]-[0-9]{3,4}-[0-9]{4}$"

    WithdrawRequest:
      type: object
      properties:
        reason:
          type: string
          nullable: true
          description: 탈퇴 사유(선택)
          enum: [TIME_NOT_AVAILABLE, NO_LONGER_INTERESTED, PREFER_DIRECT_VISIT, BUYING_ELSEWHERE, OTHER]
        reasonDetail:
          type: string
          nullable: true
          maxLength: 500
          description: 탈퇴 상세 사유 (reason=OTHER 일 때 입력)

    ApiResponseNicknameAvailability:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [nickname, available]
          properties:
            nickname: { type: string, example: 뭉치장123 }
            available: { type: boolean, example: true }
        error: { nullable: true, example: null }

    ApiResponseAdditionalInfoUpdated:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [id, nickname, phoneNumber, signupCompleted]
          properties:
            id: { type: integer, format: int64 }
            nickname: { type: string }
            phoneNumber: { type: string }
            signupCompleted: { type: boolean, example: true }
        error: { nullable: true, example: null }

    BusinessRegistrationLookupRequest:
      type: object
      required: [businessRegistrationNumber]
      properties:
        businessRegistrationNumber:
          type: string
          description: 사업자등록번호(하이픈 포함/미포함 모두 허용)
          pattern: "^\\d{3}-?\\d{2}-?\\d{5}$"
          example: "111-22-33333"

    ApiResponseBusinessRegistrationLookup:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [businessRegistrationNumber, status]
          properties:
            businessRegistrationNumber: { type: string, example: "111-22-33333" }
            status:
              type: string
              enum: [VALID, CLOSED, NOT_FOUND]
              example: VALID
            message:
              type: string
              nullable: true
              example: "사업자등록번호가 조회되지 않아 다시 입력해주세요."
            storeName:
              type: string
              nullable: true
            ownerName:
              type: string
              nullable: true
            storeAddress:
              type: string
              nullable: true
        error: { nullable: true, example: null }

    SellerBusinessInfoUpsertRequest:
      type: object
      required: [businessRegistrationNumber, storeName, ownerName, storeAddress, phoneNumber]
      properties:
        businessRegistrationNumber:
          type: string
          pattern: "^\\d{3}-?\\d{2}-?\\d{5}$"
          example: "111-22-33333"
        storeName:
          type: string
          maxLength: 100
          example: "뭉치장베이커리"
        ownerName:
          type: string
          maxLength: 50
          example: "홍길동"
        storeAddress:
          type: string
          maxLength: 255
          example: "서울시 강남구 테헤란로 123, 2층"
        phoneNumber:
          type: string
          pattern: "^01[0-9]-?\\d{3,4}-?\\d{4}$"
          example: "010-1234-5678"

    SellerSettlementInfoUpsertRequest:
      type: object
      required: [bankCode, accountNumber, accountHolderName]
      properties:
        bankCode:
          type: string
          maxLength: 80
          description: |
            은행/증권사 선택값(라벨 또는 코드).
            - 서버 저장 시 표준 코드로 정규화된다.
            - 아래 enum은 저장되는 표준 코드 목록이다.
            - BANK codes:
              NONGHYEOP, KAKAOBANK, KOOKMIN, TOSSBANK, SHINHAN, WOORI, IBK, HANA, SAEMAUL, BUSANBANK,
              DAEGUBANK, KBANK, SHINHYEOP, POST, SC, KYONGNAMBANK, GWANGJUBANK, SUHYEOP, JEONBUKBANK,
              SAVINGBANK, JEJUBANK, CITI, KDBBANK, SANLIM, BOA, HSBC, ICBC, DEUTSCHE_BANK, JPMORGAN_CHASE,
              BNP_PARIBAS, CCB, BOC
            - SECURITIES codes:
              SAMSUNG_SECURITIES, KB_SECURITIES, NH_INVESTMENT_AND_SECURITIES, YUANTA_SECURITES, DAISHIN_SECURITIES,
              HANA_INVESTMENT_AND_SECURITIES, HANHWA_INVESTMENT_AND_SECURITIES, EUGENE_INVESTMENT_AND_SECURITIES,
              HI_INVESTMENT_AND_SECURITIES, KYOBO_SECURITIES, MERITZ_SECURITIES, SK_SECURITIES,
              LIG_INVESTMENT_AND_SECURITIES, HYUNDAI_MOTOR_SECURITIES, DB_INVESTMENT_AND_SECURITIES,
              SHINYOUNG_SECURITIES, DAOL_INVESTMENT_AND_SECURITIES, BOOKOOK_SECURITIES, TOSS_SECURITIES,
              KAKAOPAY_SECURITIES, MIRAE_ASSET_SECURITIES, KIWOOM, KOREA_INVESTMENT_AND_SECURITIES,
              SHINHAN_SECURITIES, IBK_INVESTMENT_SECURITIES, WOORI_SECURITIES, CAPE_INVESTMENT_SECURITIES,
              BNK_INVESTMENT_SECURITIES, SANGSANGIN_SECURITIES
          example: "KB국민"
          enum:
            - NONGHYEOP
            - KAKAOBANK
            - KOOKMIN
            - TOSSBANK
            - SHINHAN
            - WOORI
            - IBK
            - HANA
            - SAEMAUL
            - BUSANBANK
            - DAEGUBANK
            - KBANK
            - SHINHYEOP
            - POST
            - SC
            - KYONGNAMBANK
            - GWANGJUBANK
            - SUHYEOP
            - JEONBUKBANK
            - SAVINGBANK
            - JEJUBANK
            - CITI
            - KDBBANK
            - SANLIM
            - BOA
            - HSBC
            - SAMSUNG_SECURITIES
            - KB_SECURITIES
            - NH_INVESTMENT_AND_SECURITIES
            - YUANTA_SECURITES
            - DAISHIN_SECURITIES
            - HANA_INVESTMENT_AND_SECURITIES
            - HANHWA_INVESTMENT_AND_SECURITIES
            - EUGENE_INVESTMENT_AND_SECURITIES
            - HI_INVESTMENT_AND_SECURITIES
            - KYOBO_SECURITIES
            - MERITZ_SECURITIES
            - SK_SECURITIES
            - LIG_INVESTMENT_AND_SECURITIES
            - HYUNDAI_MOTOR_SECURITIES
            - DB_INVESTMENT_AND_SECURITIES
            - SHINYOUNG_SECURITIES
            - DAOL_INVESTMENT_AND_SECURITIES
            - BOOKOOK_SECURITIES
            - TOSS_SECURITIES
            - KAKAOPAY_SECURITIES
            - MIRAE_ASSET_SECURITIES
            - KIWOOM
            - KOREA_INVESTMENT_AND_SECURITIES
            - SHINHAN_SECURITIES
            - IBK_INVESTMENT_SECURITIES
            - WOORI_SECURITIES
            - CAPE_INVESTMENT_SECURITIES
            - BNK_INVESTMENT_SECURITIES
            - SANGSANGIN_SECURITIES
            - ICBC
            - DEUTSCHE_BANK
            - JPMORGAN_CHASE
            - BNP_PARIBAS
            - CCB
            - BOC
        accountNumber:
          type: string
          maxLength: 50
          example: "000-000-0000"
        accountHolderName:
          type: string
          maxLength: 50
          example: "홍길동"

    ApiResponseSellerSignupStatus:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [id, sellerSignupCompleted]
          properties:
            id: { type: integer, format: int64, example: 1 }
            sellerSignupCompleted: { type: boolean, example: true }
        error: { nullable: true, example: null }

    ApiResponseEmailAvailability:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [email, available]
          properties:
            email:
              type: string
              format: email
            available:
              type: boolean
              example: true
        error: { nullable: true, example: null }

    EmailVerificationCodeSendRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    ApiResponseEmailVerificationCodeSent:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [expiresInSeconds, resendAvailableInSeconds, remainingDailyAttempts]
          properties:
            expiresInSeconds: { type: integer, example: 180 }
            resendAvailableInSeconds: { type: integer, example: 60 }
            remainingDailyAttempts: { type: integer, example: 4 }
        error: { nullable: true, example: null }

    EmailVerificationCodeVerifyRequest:
      type: object
      required: [email, code]
      properties:
        email:
          type: string
          format: email
        code:
          type: string
          pattern: "^[0-9]{6}$"

    ApiResponseEmailVerificationVerified:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [verified, signupToken]
          properties:
            verified: { type: boolean, example: true }
            signupToken:
              type: string
              description: 이메일 회원가입 단계 진행용 임시 토큰
        error: { nullable: true, example: null }

    EmailSignupRequest:
      type: object
      required: [email, password, signupToken]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 20
          pattern: "^(?=.*[A-Za-z])(?=.*[0-9]).{8,20}$"
          description: 8~20자, 영문+숫자 포함
        signupToken:
          type: string

    EmailLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    PasswordResetLinkRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    ProfileUpdateRequest:
      type: object
      required: [nickname, phoneNumber]
      properties:
        nickname:
          type: string
          minLength: 2
          maxLength: 10
          pattern: "^[A-Za-z0-9가-힣]{2,10}$"
        phoneNumber:
          type: string
          pattern: "^01[0-9]-[0-9]{3,4}-[0-9]{4}$"

    ApiResponseProfileUpdated:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [id, nickname, phoneNumber, updatedAt]
          properties:
            id: { type: integer, format: int64 }
            nickname: { type: string }
            phoneNumber: { type: string }
            updatedAt: { type: string, format: date-time }
        error: { nullable: true, example: null }

    PhoneVerificationCodeSendRequest:
      type: object
      required: [phoneNumber]
      properties:
        phoneNumber:
          type: string
          pattern: "^01[0-9]-[0-9]{3,4}-[0-9]{4}$"

    ApiResponsePhoneVerificationCodeSent:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [expiresInSeconds, resendAvailableInSeconds]
          properties:
            expiresInSeconds: { type: integer, example: 180 }
            resendAvailableInSeconds: { type: integer, example: 0 }
        error: { nullable: true, example: null }

    PhoneVerificationCodeVerifyRequest:
      type: object
      required: [phoneNumber, code]
      properties:
        phoneNumber:
          type: string
          pattern: "^01[0-9]-[0-9]{3,4}-[0-9]{4}$"
        code:
          type: string
          pattern: "^[0-9]{6}$"

    ApiResponsePhoneVerificationVerified:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [verified]
          properties:
            verified: { type: boolean, example: true }
        error: { nullable: true, example: null }

    PasswordChangeRequest:
      type: object
      required: [currentPassword, newPassword, newPasswordConfirm]
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 8
          maxLength: 20
          pattern: "^(?=.*[A-Za-z])(?=.*[0-9]).{8,20}$"
          description: 8~20자, 영문+숫자 포함
        newPasswordConfirm:
          type: string

    AuthUser:
      type: object
      required: [id, provider, role, signupCompleted, sellerSignupCompleted, createdAt, updatedAt]
      properties:
        id: { type: integer, format: int64 }
        provider:
          type: string
          enum: [KAKAO, EMAIL]
        providerId:
          type: string
          nullable: true
          description: 소셜 제공자 아이디 (카카오 고유 ID 등)
        email:
          type: string
          format: email
          nullable: true
        nickname:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        role:
          type: string
          enum: [BUYER, SELLER, ADMIN]
        lastRole:
          type: string
          nullable: true
          enum: [BUYER, SELLER, ADMIN]
        signupCompleted: { type: boolean }
        sellerSignupCompleted: { type: boolean }
        deletedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ApiResponseMyRegions:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [regions, primaryRegion, additionalCount]
          properties:
            regions:
              type: array
              description: "선택한 관심 지역 목록 (등록 순, 시/도 단위)"
              items:
                type: string
            primaryRegion:
              type: string
              nullable: true
              description: "칩에 표시할 첫 번째 지역명. 비어있으면 null"
            additionalCount:
              type: integer
              description: "primaryRegion 외 추가 지역 수. 예: 서울 외 3곳 → additionalCount=3"
        error: { nullable: true, example: null }

    UpdateRegionsRequest:
      type: object
      required: [regions]
      properties:
        regions:
          type: array
          maxItems: 10
          description: "저장할 시/도 지역 목록. 빈 배열이면 전체 해제"
          items:
            type: string

    # ── GroupBuy ───────────────────────────────────────────────
    GroupBuyFeedItemResponse:
      type: object
      required: [id, thumbnailUrl, dDay, dDayLabel, storeName, regionType, regionLabel, districtType, districtLabel, productName, price, achievementRate, currentQuantity, targetQuantity, pickupDateLabel, deadline]
      properties:
        id: { type: integer, format: int64 }
        thumbnailUrl: { type: string, nullable: true, description: 대표 썸네일 이미지 URL }
        dDay: { type: integer, description: "마감 D-day (예: D-3 -> 3)" }
        dDayLabel: { type: string, description: "마감 뱃지 문자열 (예: D-3)" }
        storeName: { type: string }
        regionType: { $ref: '#/components/schemas/RegionType' }
        regionLabel: { type: string, description: 시/도 한글 라벨, example: 서울 }
        districtType: { $ref: '#/components/schemas/DistrictType' }
        districtLabel: { type: string, description: 세부지역 한글 라벨, example: "강남 | 역삼 | 삼성" }
        productName: { type: string }
        price: { type: integer }
        achievementRate: { type: integer, description: 달성률 % (0~100) }
        currentQuantity: { type: integer }
        targetQuantity: { type: integer }
        pickupDateLabel: { type: string, description: 픽업 날짜 표시 문자열, example: "4/15(화)" }
        deadline: { type: string, format: date-time, description: 마감 일시 원본 값 }

    WishlistItemResponse:
      type: object
      required: [groupBuyId, thumbnailUrl, dDay, dDayLabel, storeName, regionLabel, productName, pickupDate, pickupDateLabel, deadline, deadlineLabel, achievementRate, price, currentParticipantCount, targetParticipantCount, isWishlisted]
      properties:
        groupBuyId: { type: integer, format: int64 }
        thumbnailUrl: { type: string, nullable: true, description: 대표 썸네일 URL }
        dDay: { type: integer, description: "마감 D-day (예: D-3 -> 3)" }
        dDayLabel: { type: string, description: "마감 뱃지 문자열 (예: D-3)" }
        storeName: { type: string }
        regionLabel: { type: string, description: 시/도 한글 라벨, example: 서울 }
        productName: { type: string }
        pickupDate: { type: string, format: date, description: 픽업 날짜 원본 값 }
        pickupDateLabel: { type: string, description: 픽업 날짜 표시 문자열, example: "4/15(화)" }
        deadline: { type: string, format: date-time, description: 마감 일시 원본 값 }
        deadlineLabel: { type: string, description: 마감 날짜 표시 문자열, example: "4/12(토) 21:00" }
        achievementRate: { type: integer, description: 달성률 % (0~100) }
        price: { type: integer }
        currentParticipantCount: { type: integer, description: 현재 참여 인원 수 }
        targetParticipantCount: { type: integer, description: 목표 참여 인원 수 }
        isWishlisted: { type: boolean, description: 찜 여부 }

    ApiResponseGroupBuyFeedPageResponse:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [content, page, size, totalPages, totalElements, hasNext, hasRegionalResult]
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/GroupBuyFeedItemResponse'
            page: { type: integer, description: 현재 페이지(1-base) }
            size: { type: integer, description: 페이지 크기 }
            totalPages: { type: integer, description: 전체 페이지 수 }
            totalElements: { type: integer }
            hasNext: { type: boolean, description: 다음 페이지 존재 여부 }
            hasRegionalResult: { type: boolean, description: 지역 설정 조건에 맞는 공구 존재 여부 (없으면 false) }
        error: { nullable: true, example: null }

    ApiResponseGroupBuyDetailResponse:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [id, storeName, regionType, regionLabel, districtType, districtLabel, productName, productDescription, imageUrls, price, achievementRate, currentQuantity, targetQuantity, deadline, pickupDate, pickupTimeStart, pickupTimeEnd, pickupDateLabel, pickupDateTimeLabel, deadlineDateTimeLabel, pickupLocation, dDay, dDayLabel, isWishlisted, isClosed, isParticipated, canParticipate]
          properties:
            id: { type: integer, format: int64 }
            storeName: { type: string }
            regionType: { $ref: '#/components/schemas/RegionType' }
            regionLabel: { type: string, description: 시/도 한글 라벨, example: 서울 }
            districtType: { $ref: '#/components/schemas/DistrictType' }
            districtLabel: { type: string, description: 세부지역 한글 라벨, example: "강남 | 역삼 | 삼성" }
            productName: { type: string }
            productDescription: { type: string }
            thumbnailUrl: { type: string, nullable: true, description: 대표 썸네일 이미지 URL }
            imageUrls:
              type: array
              items: { type: string }
            price: { type: integer }
            achievementRate: { type: integer, description: 달성률 % (0~100) }
            currentQuantity: { type: integer }
            targetQuantity: { type: integer }
            maxQuantity: { type: integer, nullable: true }
            deadline: { type: string, format: date-time }
            pickupDate: { type: string, format: date }
            pickupTimeStart: { type: string, format: time }
            pickupTimeEnd: { type: string, format: time }
            pickupDateLabel: { type: string, description: 픽업 날짜 표시 문자열, example: "4/15(화)" }
            pickupDateTimeLabel: { type: string, description: 픽업일시 표시용 문자열 }
            deadlineDateTimeLabel: { type: string, description: 마감일시 표시용 문자열 }
            pickupLocation: { type: string }
            pickupLatitude: { type: number, format: double, nullable: true }
            pickupLongitude: { type: number, format: double, nullable: true }
            dDay: { type: integer }
            dDayLabel: { type: string, description: "마감 뱃지 문자열 (예: D-3)" }
            isWishlisted: { type: boolean }
            isClosed: { type: boolean }
            isParticipated: { type: boolean }
            canParticipate: { type: boolean }
        error: { nullable: true, example: null }

    GroupBuyViewerHeartbeatRequest:
      type: object
      required: [viewerSessionId]
      properties:
        viewerSessionId:
          type: string
          description: 클라이언트가 생성/보관하는 조회 세션 식별자(UUID 권장)
          minLength: 8
          maxLength: 128
          example: c89f364e-ef03-40f8-905f-f9a4de2d6d5e

    ApiResponseGroupBuyViewerCount:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [activeViewerCount, showFomoBadge, threshold]
          properties:
            activeViewerCount:
              type: integer
              minimum: 0
              example: 12
            showFomoBadge:
              type: boolean
              description: FOMO 문구/뱃지 노출 여부 (activeViewerCount >= threshold)
              example: true
            threshold:
              type: integer
              description: 노출 기준 인원 수
              example: 10
        error: { nullable: true, example: null }

    RegionType:
      type: string
      enum: [NATIONWIDE, SEOUL, GYEONGGI, INCHEON, GANGWON, DAEJEON, SEJONG, CHUNGNAM, CHUNGBUK, BUSAN, ULSAN, GYEONGNAM, GYEONGBUK, DAEGU, GWANGJU, JEONNAM, JEONBUK, JEJU]
      example: SEOUL

    DistrictType:
      type: string
      enum:
        - NATIONWIDE
        - SEOUL_ALL
        - SEOUL_GANGNAM_YEOKSAM_SAMSEONG
        - SEOUL_SINSA_APGUJEONG_CHEONGDAM
        - SEOUL_SEOCHO_BANGBAE_GYODAE
        - SEOUL_JAMSIL_SINCHEON_SONGPA
        - SEOUL_JONGNO_JUNGGU_EULJIRO_MYEONGDONG
        - SEOUL_HONGDAE_HAPJEONG_SANGSU_MAPO
        - SEOUL_SEONGSU_GEONDAE_GWANGJIN
        - SEOUL_ITAEWON_HANNAM_YONGSAN
        - SEOUL_YEONGDEUNGPO_YEOUIDO
        - SEOUL_NOWON_DOBONG_GANGBUK
        - SEOUL_ETC
        - GYEONGGI_ALL
        - GYEONGGI_SUWON_YEONGTONG_PALDAL
        - GYEONGGI_SEONGNAM_BUNDANG_PANGYO
        - GYEONGGI_GOYANG_ILSAN
        - GYEONGGI_YONGIN_SUJI_GIHEUNG
        - GYEONGGI_BUCHEON_JUNGDONG_SANGDONG
        - GYEONGGI_ANSAN_DANWON_SANGROK
        - GYEONGGI_NAMYANGJU_DASAN_BYEOLNAE
        - GYEONGGI_ANYANG_PYEONGCHON_BEOMGYE
        - GYEONGGI_HWASEONG_DONGTAN
        - GYEONGGI_PAJU_UNJEONG
        - GYEONGGI_ETC
        - INCHEON_ALL
        - INCHEON_SONGDO_YEONSU
        - INCHEON_GUWOL_NAMDONG
        - INCHEON_BUPYEONG_GYEYANG
        - INCHEON_CHEONGNA_SEOGU
        - INCHEON_JUAN_MICHUHOL
        - INCHEON_YEONGJONGDO_JUNGGU
        - GANGWON_ALL
        - GANGWON_CHUNCHEON
        - GANGWON_WONJU
        - GANGWON_GANGNEUNG
        - GANGWON_SOKCHO_YANGYANG
        - GANGWON_DONGHAE_SAMCHEOK
        - GANGWON_ETC
        - DAEJEON_ALL
        - DAEJEON_DUNSAN_SEOGU
        - DAEJEON_EUNHAENG_DAEHEUNG_JUNGGU
        - DAEJEON_YUSEONG_DOAN
        - DAEJEON_DONGGU
        - DAEJEON_DAEDEOK
        - SEJONG_ALL
        - CHUNGNAM_ALL
        - CHUNGNAM_CHEONAN_SINBU_DUJEONG
        - CHUNGNAM_ASAN_TANGJEONG
        - CHUNGNAM_DANGJIN
        - CHUNGNAM_SEOSAN
        - CHUNGNAM_GYERYONG_NONSAN
        - CHUNGNAM_ETC
        - CHUNGBUK_ALL
        - CHUNGBUK_CHEONGJU_SANGDANG_HEUNGDEOK
        - CHUNGBUK_CHUNGJU
        - CHUNGBUK_JECHEON
        - CHUNGBUK_EUMSEONG_JINCHEON
        - CHUNGBUK_ETC
        - BUSAN_ALL
        - BUSAN_SEOMYEON_JEONPO_JINGU
        - BUSAN_HAEUNDAE_CENTUM_MARINE_CITY
        - BUSAN_GWANGALLI_SUYEONG_NAMCHEON
        - BUSAN_NAMPO_JUNGGU_YEONGDO
        - BUSAN_DONGRAE_YEONSAN_BUSANDAE
        - BUSAN_SAHA_HADAN
        - BUSAN_ETC
        - ULSAN_ALL
        - ULSAN_SAMSAN_DALDONG_NAMGU
        - ULSAN_SEONGNAM_JUNGGU
        - ULSAN_DONGGU
        - ULSAN_BUKGU
        - ULSAN_ULJU
        - GYEONGNAM_ALL
        - GYEONGNAM_CHANGWON_SANGNAM_UICHANG
        - GYEONGNAM_GIMHAE
        - GYEONGNAM_YANGSAN
        - GYEONGNAM_JINJU
        - GYEONGNAM_GEOJE_TONGYEONG
        - GYEONGNAM_ETC
        - GYEONGBUK_ALL
        - GYEONGBUK_POHANG
        - GYEONGBUK_GYEONGJU_HWANGRIDAN_GIL
        - GYEONGBUK_GUMI
        - GYEONGBUK_GYEONGSAN
        - GYEONGBUK_ANDONG
        - GYEONGBUK_ETC
        - DAEGU_ALL
        - DAEGU_DONGSEONGNO_JUNGGU
        - DAEGU_SUSEONGGU_BEOMEO
        - DAEGU_SANGIN_DALSEO
        - DAEGU_CHILGOK_BUKGU
        - DAEGU_DONGGU
        - DAEGU_ETC
        - GWANGJU_ALL
        - GWANGJU_SANGMU_JIGYEONG_SEOGU
        - GWANGJU_DONGMYEONGDONG_CHUNGJANGRO_DONGGU
        - GWANGJU_SUWAN_CHEOMDAN_GWANGSANGU
        - GWANGJU_BONGSEON_NAMGU
        - GWANGJU_BUKGU
        - JEONNAM_ALL
        - JEONNAM_YEOSU
        - JEONNAM_SUNCHEON
        - JEONNAM_MOKPO_NAMAK
        - JEONNAM_NAJU
        - JEONNAM_ETC
        - JEONBUK_ALL
        - JEONBUK_JEONJU_GAEKRIDANGIL_WANSAN
        - JEONBUK_IKSAN
        - JEONBUK_GUNSAN
        - JEONBUK_ETC
        - JEJU_ALL
        - JEJU_JEJU_SI
        - JEJU_AEWOL_HALLIM
        - JEJU_JOCHEON_GUJWA
        - JEJU_SEOGWIPO_SI
        - JEJU_JUNGMUN_ANDEOK
        - JEJU_SEONGSAN_PYOSEON
      example: SEOUL_GANGNAM_YEOKSAM_SAMSEONG

    ApiResponseGroupBuyProgress:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [groupBuyId, achievementRate, currentQuantity, targetQuantity, isClosed]
          properties:
            groupBuyId: { type: integer, format: int64 }
            achievementRate: { type: integer }
            currentQuantity: { type: integer }
            targetQuantity: { type: integer }
            isClosed: { type: boolean }
        error: { nullable: true, example: null }

    GroupBuyProgressItem:
      type: object
      required: [groupBuyId, achievementRate, currentQuantity, targetQuantity, isClosed]
      properties:
        groupBuyId: { type: integer, format: int64 }
        achievementRate: { type: integer }
        currentQuantity: { type: integer }
        targetQuantity: { type: integer }
        isClosed: { type: boolean }

    ApiResponseGroupBuyProgressList:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: array
          items:
            $ref: '#/components/schemas/GroupBuyProgressItem'
        error: { nullable: true, example: null }

    ApiResponseShareMeta:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [shareUrl, title, description, imageUrl, storeName, deadline, pickupDate, pickupTimeStart, pickupTimeEnd]
          properties:
            shareUrl: { type: string }
            title: { type: string }
            description: { type: string }
            imageUrl: { type: string, nullable: true }
            storeName: { type: string }
            deadline: { type: string, format: date-time }
            pickupDate: { type: string, format: date }
            pickupTimeStart: { type: string, format: time, nullable: true }
            pickupTimeEnd: { type: string, format: time, nullable: true }
        error: { nullable: true, example: null }

    # ── GroupBuyRequest ────────────────────────────────────────
    GroupBuyRequestCreate:
      type: object
      required: [storeName, productName, desiredQuantity, desiredPickupDate]
      properties:
        storeName:
          type: string
          maxLength: 100
        storeAddress:
          type: string
          maxLength: 200
          nullable: true
          description: 매장 주소. roadAddress가 함께 전달되면 서버는 roadAddress를 우선 저장한다.
        placeId:
          type: string
          maxLength: 100
          nullable: true
          description: 네이버 장소 고유 ID
        roadAddress:
          type: string
          maxLength: 200
          nullable: true
          description: 네이버 장소 도로명 주소
        lotAddress:
          type: string
          maxLength: 200
          nullable: true
          description: 네이버 장소 지번 주소
        latitude:
          type: number
          format: double
          nullable: true
          description: 네이버 장소 위도
        longitude:
          type: number
          format: double
          nullable: true
          description: 네이버 장소 경도
        productName:
          type: string
          maxLength: 100
        desiredQuantity:
          type: integer
          minimum: 1
        desiredPickupDate:
          type: string
          format: date
          description: 오늘 이후 날짜
        additionalNote:
          type: string
          maxLength: 500
          nullable: true

    ApiResponseRequestId:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [requestId]
          properties:
            requestId: { type: integer, format: int64 }
        error: { nullable: true, example: null }

    GroupBuyRequestDetail:
      type: object
      required: [requestId, storeName, productName, desiredQuantity, desiredPickupDate, status, rejectionReason, openedGroupBuyId, statusHistory, createdAt]
      properties:
        requestId: { type: integer, format: int64 }
        storeName: { type: string }
        storeAddress: { type: string, nullable: true }
        placeId: { type: string, nullable: true }
        roadAddress: { type: string, nullable: true }
        lotAddress: { type: string, nullable: true }
        latitude: { type: number, format: double, nullable: true }
        longitude: { type: number, format: double, nullable: true }
        productName: { type: string }
        desiredQuantity: { type: integer }
        desiredPickupDate: { type: string, format: date }
        additionalNote: { type: string, nullable: true }
        status:
          type: string
          enum: [IN_REVIEW, IN_CONTACT, OPENED, REJECTED]
          description: |
            IN_REVIEW=검토 중 / IN_CONTACT=매장 컨택 중 /
            OPENED=공구 개설 완료 / REJECTED=개설 불가
        rejectionReason: { type: string, nullable: true, description: status=REJECTED 시 노출 }
        openedGroupBuyId: { type: integer, format: int64, nullable: true, description: status=OPENED 시 개설된 공구 id }
        statusHistory:
          type: array
          items:
            type: object
            required: [status, changedAt]
            properties:
              status:
                type: string
                enum: [IN_REVIEW, IN_CONTACT, OPENED, REJECTED]
              changedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }

    ApiResponseGroupBuyRequestList:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: array
          items:
            $ref: '#/components/schemas/GroupBuyRequestDetail'
        error: { nullable: true, example: null }

    ApiResponseGroupBuyRequestDetail:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          $ref: '#/components/schemas/GroupBuyRequestDetail'
        error: { nullable: true, example: null }

    # ── Wishlist ───────────────────────────────────────────────
    ApiResponseWishlistPage:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [content, totalElements, totalPages, number, size, urgentCount]
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/WishlistItemResponse'
            totalElements: { type: integer }
            totalPages: { type: integer }
            number: { type: integer }
            size: { type: integer }
            urgentCount:
              type: integer
              description: 마감 24시간 이내 건수 (0이면 배너 미노출)
        error: { nullable: true, example: null }

    # ── Participation ──────────────────────────────────────────
    ParticipationCreate:
      type: object
      required: [quantity]
      properties:
        quantity:
          type: integer
          minimum: 1

    ApiResponseParticipationCreated:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [participationId, orderName, totalAmount, productAmount, feeAmount]
          properties:
            participationId: { type: integer, format: int64 }
            orderName: { type: string, description: "포트원 SDK에 전달할 주문명. 예) 두쫀쿠 오리지널 1개" }
            totalAmount: { type: integer, description: "상품금액 + 수수료(현재 정책상 0원) — 포트원 SDK totalAmount에 사용" }
            productAmount: { type: integer }
            feeAmount: { type: integer, description: "현재 정책: 0원" }
        error: { nullable: true, example: null }

    PaymentConfirm:
      type: object
      required: [paymentId, amount]
      description: |
        포트원 v2 + 토스페이먼츠 결제 성공 후 서버 검증 요청.
        클라이언트가 PortOne.requestPayment() 완료 시 반환된 paymentId를 전달한다.
        서버는 포트원 API(GET /payments/{paymentId})로 위변조 검증 후 확정 처리한다.
      properties:
        paymentId:
          type: string
          description: 서버가 결제 주문 생성 시 반환한 PortOne paymentId
        amount: { type: integer, description: 결제 요청 금액 — 서버 저장값과 불일치 시 위변조로 처리 }

    PaymentOrderCreate:
      type: object
      required: [quantity, agreedNoCancelAfterGoal, agreedRefundBeforeGoal, agreedNoRefundAfterNoShow, agreedNoWithdrawal]
      properties:
        quantity: { type: integer, minimum: 1 }
        agreedNoCancelAfterGoal: { type: boolean, description: 달성 후 취소 불가 동의 }
        agreedRefundBeforeGoal: { type: boolean, description: 달성 전 이탈 시 전액 환불 동의 }
        agreedNoRefundAfterNoShow: { type: boolean, description: 미수령 환불 불가 동의 }
        agreedNoWithdrawal: { type: boolean, description: 청약철회 불가 동의 }

    CancelParticipationRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          enum: [TIME_UNAVAILABLE, NO_LONGER_WANTED, PREFER_DIRECT_VISIT, BOUGHT_ELSEWHERE, OTHER]
          description: 취소 사유. OTHER 선택 시 reasonDetail 필수.
        reasonDetail:
          type: string
          maxLength: 500
          nullable: true
          description: 기타 상세 사유

    ApiResponseCheckoutInfo:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [groupBuyId, storeName, productName, thumbnailUrl, pickupDate, pickupTimeStart, pickupTimeEnd, unitPrice, quantity, productAmount, feeAmount, totalAmount, remainingQuantity]
          properties:
            groupBuyId: { type: integer, format: int64 }
            storeName: { type: string }
            productName: { type: string }
            thumbnailUrl: { type: string, nullable: true }
            pickupDate: { type: string, format: date }
            pickupTimeStart: { type: string, example: "14:00:00" }
            pickupTimeEnd: { type: string, example: "18:00:00" }
            unitPrice: { type: integer }
            quantity: { type: integer }
            productAmount: { type: integer }
            feeAmount: { type: integer, example: 0 }
            totalAmount: { type: integer }
            remainingQuantity: { type: integer }
        error: { nullable: true, example: null }

    ApiResponsePaymentOrderCreated:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [paymentId, storeId, channelKey, orderName, amount, customerName]
          properties:
            paymentId: { type: string, description: PortOne SDK requestPayment에 전달할 paymentId }
            storeId: { type: string }
            channelKey: { type: string }
            orderName: { type: string }
            amount: { type: integer }
            customerName: { type: string, nullable: true }
        error: { nullable: true, example: null }

    ApiResponsePaymentConfirmed:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [paymentId, participationId, participationStatus, displayStatus, amount, approvedAt]
          properties:
            paymentId: { type: string }
            participationId: { type: integer, format: int64 }
            participationStatus:
              type: string
              enum: [PAID_WAITING_GOAL, CONFIRMED]
            displayStatus: { type: string, example: "참여중 / 달성 전" }
            amount: { type: integer }
            method: { type: string, nullable: true, example: CARD }
            approvedAt: { type: string, format: date-time }
        error: { nullable: true, example: null }

    ApiResponseCancelParticipation:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [participationId, status, cancelledAt, refundedAt]
          properties:
[...]
