openapi: 3.0.3

info:
  title: 뭉치장 API
  description: |
    유행 음식 공동구매 플랫폼 뭉치장의 API 명세입니다.

    ## 인증
    로그인이 필요한 API는 `Authorization: Bearer {accessToken}` 헤더를 포함해야 합니다.

    ## 공통 응답 형식
    모든 응답은 아래 구조를 따릅니다.
    ```json
    { "success": true, "data": { ... }, "error": null }
    { "success": false, "data": null, "error": { "code": "ERROR_CODE", "message": "설명", "detail": "상세" } }
    ```
  version: v1

servers:
  - url: https://api.moongchijang.com
    description: 운영 서버
  - url: https://api.moongchijang.com/dev
    description: 개발 서버
  - url: http://localhost:8080
    description: 로컬 서버

tags:
  - name: Auth
    description: 카카오 로그인 및 토큰 관리
  - name: GroupBuy
    description: 공구 피드 · 상세 · 달성률
  - name: GroupBuyRequest
    description: 공구 개설 요청 (소비자)
  - name: Wishlist
    description: 찜 추가 · 해제 · 목록
  - name: Participation
    description: 공구 참여 · 결제 · 취소 · 환불
  - name: Pickup
    description: 픽업 안내 · QR 코드
  - name: Notification
    description: 알림 목록 · 읽음 처리
  - name: MyPage
    description: 마이페이지 (참여중 · 완료 · 환불 · 요청 내역)
  - name: Owner
    description: 사장님 전용 (QR 스캔 · 홈 · 예약 목록)
  - name: Admin
    description: 운영자 전용 (공구요청 · 공구관리 · 환불 · 정산)
  - name: ImageUpload
    description: S3 Presigned URL 발급 · 이미지 삭제

paths:

  # ─────────────────────────────────────────────────────────────
  # Auth
  # ─────────────────────────────────────────────────────────────
  /api/v1/auth/kakao:
    post:
      tags: [Auth]
      summary: 카카오 로그인 / 회원가입
      description: |
        카카오 인가 코드로 로그인하거나 최초 가입 처리한다.
        카카오 닉네임은 선저장 단계에서 2~10자/한글·영문·숫자 조건을 만족할 때만 저장되며, 조건 미충족 시 null로 저장된다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KakaoLoginRequest'
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: 환경별 cookie path로 저장되는 refreshToken HttpOnly 쿠키 (prod=`/`, dev=`/dev`)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuthLogin'

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Access Token 갱신
      description: |
        HttpOnly 쿠키의 refreshToken을 검증해 Access Token을 재발급한다.
        refreshToken 쿠키는 환경별 path를 사용하며, 현재 요청 경로와 동일한 path 기준으로 갱신된다. (prod=`/`, dev=`/dev`)
      responses:
        '200':
          description: 토큰 갱신 성공
          headers:
            Set-Cookie:
              description: refreshToken rotation 시 동일 path 기준으로 갱신되는 신규 refreshToken 쿠키
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAccessToken'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: 로그아웃
      description: |
        Refresh Token을 무효화한다.
        refreshToken 쿠키는 발급 시 사용한 동일 path 기준으로 삭제한다. (prod=`/`, dev=`/dev`)
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me:
    get:
      tags: [Auth]
      summary: 내 정보 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 내 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUserInfo'
    delete:
      tags: [Auth]
      summary: 회원 탈퇴
      description: |
        소비자 현재 역할(BUYER)에서 회원 탈퇴를 처리한다.
        - 탈퇴 진입 컨텍스트 조회 결과와 무관하게 실행 시점 최종 검증을 다시 수행한다.
        - 수령 예정 공구(달성 완료 + 픽업 미완료)가 있으면 탈퇴할 수 없다.
        - 참여 중 공구(PAID_WAITING_GOAL)는 자동 취소된다.
        - 찜 목록은 모두 삭제된다.
        - 동일 계정은 탈퇴 후 30일 이후 재가입 가능하다.
        - 최종 검증 실패 시 409 에러를 반환한다. (예: WITHDRAWAL_BLOCKED_PENDING_PICKUP)
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/users/me/role:
    patch:
      tags: [Auth]
      summary: 마이페이지 역할 전환
      description: 소비자/사장님 모드를 전환한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MyPageRoleSwitchRequest'
      responses:
        '200':
          description: 전환 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUserInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/users/me/withdrawal-context:
    get:
      tags: [Auth]
      summary: 탈퇴 진입 컨텍스트 조회
      description: |
        소비자/사장님 탈퇴 가능 상태와 권장 탈퇴 화면 정보를 조회한다.
        이 응답은 진입/라우팅 가이드 용도이며, 실제 탈퇴 실행 시점에는 최종 검증이 다시 수행된다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 탈퇴 진입 컨텍스트 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseWithdrawalContext'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/users/nickname/availability:
    get:
      tags: [Auth]
      summary: 닉네임 중복 확인
      description: |
        추가정보 입력(0.5) 단계에서 닉네임 사용 가능 여부를 확인한다.
        인증 사용자가 호출한 경우 본인 현재 닉네임은 중복으로 보지 않는다.
      security:
        - bearerAuth: []
      parameters:
        - name: nickname
          in: query
          required: true
          description: 2~10자, 한글/영문/숫자만 허용
          schema:
            type: string
            minLength: 2
            maxLength: 10
            pattern: "^[A-Za-z0-9가-힣]{2,10}$"
      responses:
        '200':
          description: 닉네임 사용 가능 여부
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNicknameAvailability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/additional-info:
    patch:
      tags: [Auth]
      summary: 추가 정보 입력 완료
      description: |
        신규 가입 공통(카카오/이메일) 추가 정보 입력을 저장한다.
        닉네임은 최종 저장 시점에 중복 검증되며, 본인 현재 닉네임과 동일한 값은 허용된다.
        성공 시 nickname, phoneNumber, signupCompleted가 반영된다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdditionalInfoUpsertRequest'
      responses:
        '200':
          description: 추가 정보 저장 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdditionalInfoUpdated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/users/me/seller/business-registration/lookup:
    post:
      tags: [Auth]
      summary: 사업자등록번호 조회
      description: |
        사장님 가입 진행 중 사업자등록번호를 조회해 상태를 반환한다.
        현재 활성 역할이 SELLER가 아니어도, 사장님 가입 흐름에서는 호출할 수 있다.
        - `VALID`: 정상 사업자(계속사업자)
        - `CLOSED`: 휴업/폐업
        - `NOT_FOUND`: 조회 불가/미확인
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessRegistrationLookupRequest'
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBusinessRegistrationLookup'
        '400':
          description: "입력값 검증 실패 (예: INVALID_BUSINESS_REGISTRATION_NUMBER_FORMAT)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/seller/business-info:
    patch:
      tags: [Auth]
      summary: 사장님 사업자 정보 저장
      description: |
        사장님 가입 진행 중 사업자 정보를 저장한다.
        현재 활성 역할이 SELLER가 아니어도, 사장님 가입 흐름에서는 호출할 수 있다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellerBusinessInfoUpsertRequest'
      responses:
        '200':
          description: 저장 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSellerSignupStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/seller/settlement-info:
    patch:
      tags: [Auth]
      summary: 사장님 정산 정보 저장
      description: |
        사장님 가입 진행 중 정산 정보를 저장하고 사장님 가입 완료 상태를 반영한다.
        현재 활성 역할이 SELLER가 아니어도, 사장님 가입 흐름에서는 호출할 수 있다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellerSettlementInfoUpsertRequest'
      responses:
        '200':
          description: 저장 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSellerSignupStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/users/me/seller/settlement-account:
    get:
      tags: [Auth]
      summary: 사장님 입금 계좌 조회
      description: 현재 활성 역할이 SELLER일 때 사장님의 현재 입금 계좌 정보를 조회한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSellerSettlementAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Auth]
      summary: 사장님 입금 계좌 변경
      description: 현재 활성 역할이 SELLER일 때 사장님의 입금 계좌 정보를 변경한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellerSettlementInfoUpsertRequest'
      responses:
        '200':
          description: 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSellerSettlementAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/users/me/seller/business-profile:
    get:
      tags: [Auth]
      summary: 사장님 사업자 정보 조회
      description: 현재 활성 역할이 SELLER일 때 사장님의 현재 사업자 정보를 조회한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSellerBusinessProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Auth]
      summary: 사장님 사업자 정보 변경
      description: 현재 활성 역할이 SELLER일 때 사장님의 사업자 정보를 변경한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellerBusinessInfoUpsertRequest'
      responses:
        '200':
          description: 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSellerBusinessProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/users/me/seller:
    delete:
      tags: [Auth]
      summary: 사장님 회원 탈퇴
      description: |
        현재 활성 역할이 SELLER일 때 사장님 회원 탈퇴를 처리한다.
        - 탈퇴 진입 컨텍스트 조회 결과와 무관하게 실행 시점 최종 검증을 다시 수행한다.
        - 개설된 공구(IN_PROGRESS)가 있으면 탈퇴할 수 없다.
        - 달성 완료/완료 공구(ACHIEVED, COMPLETED)에 픽업 미완료 참여가 있으면 탈퇴할 수 없다.
        - 소비자 수령 예정 공구가 있으면 탈퇴할 수 없다.
        - 동일 계정은 탈퇴 후 30일 이후 재가입 가능하다.
        - 최종 검증 실패 시 409 에러를 반환한다. (예: OWNER_WITHDRAWAL_BLOCKED_OPEN_GROUPBUY, OWNER_WITHDRAWAL_BLOCKED_PENDING_CUSTOMER_PICKUP, WITHDRAWAL_BLOCKED_PENDING_PICKUP)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnerWithdrawRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/auth/email/availability:
    get:
      tags: [Auth]
      summary: 이메일 중복 확인
      description: 이메일 회원가입 전 가입 가능 이메일인지 확인한다.
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: 이메일 사용 가능 여부
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEmailAvailability'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/auth/email/verification-codes:
    post:
      tags: [Auth]
      summary: 이메일 인증코드 발송
      description: 6자리 숫자 인증코드를 이메일로 발송한다. (유효시간 3분, 재발송 60초 쿨다운, 1일 5회 제한)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationCodeSendRequest'
      responses:
        '200':
          description: 인증코드 발송 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEmailVerificationCodeSent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/auth/email/verification-codes/verify:
    post:
      tags: [Auth]
      summary: 이메일 인증코드 확인
      description: 인증코드가 일치하면 이메일 인증 완료 상태로 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationCodeVerifyRequest'
      responses:
        '200':
          description: 인증코드 확인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEmailVerificationVerified'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/auth/phone/verification-codes:
    post:
      tags: [Auth]
      summary: 전화번호 인증코드 발송
      description: 6자리 숫자 인증코드를 전화번호로 발송한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationCodeSendRequest'
      responses:
        '200':
          description: 인증코드 발송 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneVerificationCodeSent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/auth/phone/verification-codes/verify:
    post:
      tags: [Auth]
      summary: 전화번호 인증코드 확인
      description: 인증코드가 일치하면 전화번호 인증 완료 상태로 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationCodeVerifyRequest'
      responses:
        '200':
          description: 인증코드 확인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneVerificationVerified'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/auth/email/signup:
    post:
      tags: [Auth]
      summary: 이메일 회원가입
      description: 이메일 인증 완료 후 비밀번호를 설정해 계정을 생성하고 로그인 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSignupRequest'
      responses:
        '200':
          description: 회원가입 및 로그인 성공
          headers:
            Set-Cookie:
              description: 환경별 cookie path로 저장되는 refreshToken HttpOnly 쿠키 (prod=`/`, dev=`/dev`)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuthLogin'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/auth/email/login:
    post:
      tags: [Auth]
      summary: 이메일 로그인
      description: 이메일과 비밀번호를 검증하고 로그인 처리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailLoginRequest'
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: 환경별 cookie path로 저장되는 refreshToken HttpOnly 쿠키 (prod=`/`, dev=`/dev`)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuthLogin'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/nickname:
    patch:
      tags: [Auth]
      summary: 닉네임 변경
      description: 인증된 사용자의 닉네임을 변경한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NicknameUpdateRequest'
      responses:
        '200':
          description: 닉네임 변경 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNicknameUpdated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/users/me/phone-number:
    patch:
      tags: [Auth]
      summary: 전화번호 변경
      description: 인증된 사용자의 전화번호를 변경한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberUpdateRequest'
      responses:
        '200':
          description: 전화번호 변경 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneNumberUpdated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/phone/verification-codes:
    post:
      tags: [Auth]
      summary: 전화번호 변경 인증코드 발송
      description: 새 전화번호 검증을 위한 6자리 인증코드를 발송한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationCodeSendRequest'
      responses:
        '200':
          description: 인증코드 발송 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneVerificationCodeSent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/phone/verification-codes/verify:
    post:
      tags: [Auth]
      summary: 전화번호 변경 인증코드 확인
      description: 인증코드 확인 후 전화번호 변경 가능 상태를 확정한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationCodeVerifyRequest'
      responses:
        '200':
          description: 인증코드 확인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePhoneVerificationVerified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/password:
    patch:
      tags: [Auth]
      summary: 비밀번호 변경 (이메일 가입자 전용)
      description: 현재 비밀번호를 확인하고 새 비밀번호로 변경한다. 변경 완료 시 세션을 무효화한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChangeRequest'
      responses:
        '200':
          description: 비밀번호 변경 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePasswordChanged'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/users/me/regions:
    get:
      tags: [Auth]
      summary: 내 관심 지역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 관심 지역 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMyRegions'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Auth]
      summary: 관심 지역 저장/수정 (전체 교체)
      description: 기존 관심 지역을 모두 삭제하고 요청 목록으로 새로 저장한다. 빈 배열이면 전체 해제.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRegionsRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─────────────────────────────────────────────────────────────
  # GroupBuy
  # ─────────────────────────────────────────────────────────────
  /api/v1/group-buys:
    get:
      tags: [GroupBuy]
      summary: 공구 피드 목록 조회
      description: |
        진행 중인 공구 목록(2열 카드 피드)을 페이지네이션으로 조회한다. 비로그인 허용.
        - `filter=ALL`: 전체
        - `filter=CLOSING_SOON`: 마감임박 (마감일 D-3 이하)
        - `filter=ALMOST_ACHIEVED`: 달성임박 (달성률 80% 이상)
        - 지역 필터는 `districts`로 복수 선택(최대 10개) 가능
        - 클라이언트 표시는 한글 라벨, 요청 전송값은 영문 코드(enum) 사용
        - 선택 규칙:
          - 같은 시/도 내 `*_ALL`과 하위 세부지역 동시 선택 불가
          - 전체 선택 개수(지역/세부지역 통합) 최대 10개
      parameters:
        - name: filter
          in: query
          description: 전체/마감임박/달성임박 단일 선택 칩
          schema:
            type: string
            enum: [ALL, CLOSING_SOON, ALMOST_ACHIEVED]
            default: ALL
        - name: districts
          in: query
          description: "지역/세부지역 통합 필터 (복수 선택, 최대 10개, 예: SEOUL_ALL / SEOUL_GANGNAM_YEOKSAM_SAMSEONG)"
          schema:
            type: array
            maxItems: 10
            items:
              $ref: '#/components/schemas/DistrictType'
          style: form
          explode: true
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 공구 피드 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyFeedPageResponse'
        '400':
          description: "잘못된 필터 요청 (예: 같은 시/도 ALL+하위 동시 선택, 선택 개수 10개 초과)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'

  /api/v1/group-buys/{groupBuyId}:
    get:
      tags: [GroupBuy]
      summary: 공구 상세 조회
      description: 공구의 상품·매장·픽업·이미지 정보를 조회한다. 비로그인 허용.
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          description: 공구 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/group-buys/{groupBuyId}/progress:
    get:
      tags: [GroupBuy]
      summary: 단일 공구 달성률 조회 (폴링용)
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          description: 달성률
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyProgress'

  /api/v1/group-buys/{groupBuyId}/viewers/heartbeat:
    post:
      tags: [GroupBuy]
      summary: 활성 조회자 heartbeat 조회/갱신
      description: |
        공구 상세 화면 진입 시 및 체류 중 일정 주기(예: 20~30초)로 호출한다.
        서버는 세션 TTL을 연장하고 최신 활성 조회자 수를 반환한다.
        비로그인 사용자는 viewerSessionId 쿠키가 없으면 서버에서 자동 발급한다.
        로그인 사용자는 userId 기준으로 집계한다.
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          description: 활성 조회자 수 조회/갱신 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyViewerCount'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/group-buys/progress:
    get:
      tags: [GroupBuy]
      summary: 다건 공구 달성률 조회 (피드 갱신용)
      parameters:
        - name: ids
          in: query
          required: true
          description: 조회할 공구 ID 목록 (양수 ID만 허용, 최대 20개)
          schema:
            type: array
            items:
              type: integer
              format: int64
              minimum: 1
            maxItems: 20
      responses:
        '200':
          description: 공구별 달성률 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyProgressList'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/group-buys/{groupBuyId}/share:
    get:
      tags: [GroupBuy]
      summary: 공유 메타데이터 조회
      description: SNS 공유용 딥링크 URL 및 카드 메타데이터를 반환한다.
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          description: 공유 메타데이터
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseShareMeta'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/search:
    post:
      tags: [GroupBuy]
      summary: 검색 실행 및 FULLTEXT 기반 분류 (1.1.4-1)
      description: |
        검색어를 ngram FULLTEXT 인덱스 두 축(상품명 / 매장·주소)에 각각 매칭해 동네/상품 키워드 검출 여부를 판정하고
        최근 검색어로 저장한다. 두 인덱스 매칭 결과 조합에 따라 4가지 케이스로 분기한다.
        자체 검색 결과가 없을 때 제공되는 recommendedStores는 Naver Local Search 결과 중
        베이커리/디저트 도메인으로 분류된 매장만 반환한다.
        - PRODUCT_ONLY: 상품명 인덱스만 매치
        - NEIGHBORHOOD_ONLY: 매장/주소 인덱스만 매치
        - BOTH_DETECTED: 두 인덱스 모두 매치
        - NONE_DETECTED: 두 인덱스 모두 미매치
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [keyword]
              properties:
                keyword:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: FULLTEXT 기반 분류 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSearchAnalysis'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/search/recent:
    get:
      tags: [GroupBuy]
      summary: 최근 검색어 목록 조회
      description: |
        검색창 탭 시 표시할 사용자의 최근 검색어를 최신순으로 반환한다. (1.1.4-10)
        동일 검색어는 중복 저장하지 않고 가장 최근 검색 위치로 이동한다.
        최근 검색어는 최대 10개까지 반환하며, 검색 이력이 없으면 빈 배열을 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 최근 검색어 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRecentSearchList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags: [GroupBuy]
      summary: 최근 검색어 전체 삭제
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'

  /api/v1/search/recent/{keyword}:
    delete:
      tags: [GroupBuy]
      summary: 최근 검색어 단건 삭제
      security:
        - bearerAuth: []
      parameters:
        - name: keyword
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'

  # ─────────────────────────────────────────────────────────────
  # GroupBuyRequest (소비자)
  # ─────────────────────────────────────────────────────────────
  /api/v1/stores/search:
    get:
      tags: [GroupBuyRequest]
      summary: 매장 검색 자동완성 (2.1.1-1)
      description: |
        매장명 또는 주소 입력 시 외부 지도/장소 API 기반 매장 후보 목록을 반환한다.
        각 항목은 매장명과 주소를 함께 포함한다. 예: 모모양과 / 서울 성북구 화랑로11길 23
      parameters:
        - name: keyword
          in: query
          required: true
          description: 매장명 또는 주소 검색어
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: 매장 후보 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStoreSearchList'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/group-buy-requests:
    post:
      tags: [GroupBuyRequest]
      summary: 공구 개설 요청 제출
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupBuyRequestCreate'
      responses:
        '201':
          description: 요청 접수 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRequestId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [GroupBuyRequest]
      summary: 내 공구 요청 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 내 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyRequestList'

  /api/v1/group-buy-requests/{requestId}:
    get:
      tags: [GroupBuyRequest]
      summary: 공구 요청 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: 요청 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyRequestDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/group-buy-open-requests:
    post:
      tags: [GroupBuyRequest]
      summary: 공구 개설 알림 신청
      description: |
        특정 지역/상품 조합으로 공구가 개설되면 알림을 받기 위해 등록한다.
        검색 결과가 비어 있을 때(EMPTY_CAN_REQUEST 상태) 진입 가능한 진입점이다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [region, productName]
              properties:
                region:
                  type: string
                  maxLength: 50
                  description: 알림 신청 대상 지역(동/구 등)
                productName:
                  type: string
                  maxLength: 100
                  description: 알림 신청 대상 상품명
      responses:
        '201':
          $ref: '#/components/responses/SuccessNoData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/group-buy-open-requests/store-recommendations:
    post:
      tags: [GroupBuyRequest]
      summary: 매장 추천 바텀시트용 네이버 Local Search 매장 후보 조회
      description: |
        1.1.4-9 매장 추천 바텀시트용 API.

        Case 1~4의 바텀시트에서 동네·상품 조건이 모두 확정된 후 CTA 버튼을 탭하면,
        백엔드는 네이버 Local Search API를 조회하여 해당 조건에 맞는 매장 후보를 검색한다.

        매장 후보는 최대 10개까지 반환하며, 추천 매장 후보는 다음 기준을 반영해 정렬한다.

        - 네이버 Local Search API의 기본 관련도 순서
        - 매장 주소가 선택한 동네와 일치하거나 포함되는지 여부
        - 매장 카테고리가 상품 조건과 관련 있는지 여부
        - 자사 DB에 등록된 매장인지 여부
        - 해당 매장의 과거 공구 이력이 있는지 여부

        네이버 결과가 0건이거나 네이버 API 호출 실패/timeout이 발생하면 `stores=[]`를 반환하며,
        프론트는 기존 공구 개설 요청 플로우로 fallback한다.

        중복 매장은 하나로 합쳐 반환하고, 매장명에 포함된 HTML 태그는 제거해서 반환한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreRecommendationRequest'
      responses:
        '200':
          description: 추천 매장 후보 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStoreRecommendation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─────────────────────────────────────────────────────────────
  # Wishlist
  # ─────────────────────────────────────────────────────────────
  /api/v1/group-buys/{groupBuyId}/wishlist:
    post:
      tags: [Wishlist]
      summary: 찜 추가
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '201':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags: [Wishlist]
      summary: 찜 해제
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/wishlists:
    get:
      tags: [Wishlist]
      summary: 찜 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - name: filter
          in: query
          schema:
            type: string
            enum: [ALL, CLOSING_SOON, OPEN]
            default: ALL
          description: ALL=전체 / CLOSING_SOON=마감임박(D-3) / OPEN=모집중
        - name: excludeClosed
          in: query
          schema:
            type: boolean
            default: false
          description: true면 마감 공고 제외, false면 마감 포함
        - name: sort
          in: query
          schema:
            type: string
            enum: [LATEST, DEADLINE]
            default: LATEST
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 찜 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseWishlistPage'

  # ─────────────────────────────────────────────────────────────
  # Participation & Payment
  # ─────────────────────────────────────────────────────────────
  /api/v1/admin/summary:
    get:
      tags: [Admin]
      summary: 운영자 대시보드 요약 정보
      description: 운영 관리 요약 영역에 노출되는 환불 금액, 개설승인 대기, 발주 미확정, 오늘 처리 완료 요약을 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 대시보드 요약
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminDashboardSummary'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/dashboard/unconfirmed-orders:
    get:
      tags: [Admin]
      summary: 대시보드 발주 미확정 모니터링 (운영자)
      description: 달성됐지만 발주 확정 전인 공구와 48시간 초과 여부를 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 발주 미확정 모니터링 목록과 요약
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminDashboardUnconfirmedOrders'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/dashboard/urgent-refunds:
    get:
      tags: [Admin]
      summary: 대시보드 긴급 환불 요청 조회 (운영자)
      description: 요청 후 1시간을 초과한 REFUND_PENDING 환불 요청을 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 긴급 환불 요청 목록과 요약
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminDashboardUrgentRefunds'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/orders:
    get:
      tags: [Admin]
      summary: 발주 관리 목록 조회 (운영자)
      description: 달성된 공구의 발주 확정 대기, 48시간 초과, 확정 완료, 전체 목록을 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [OVERDUE_48H, PENDING, CONFIRMED, ALL]
            default: ALL
          description: OVERDUE_48H=48시간 초과, PENDING=확정 대기, CONFIRMED=확정 완료, ALL=전체
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 발주 관리 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOrderPage'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/orders/{orderId}:
    get:
      tags: [Admin]
      summary: 발주 관리 상세 조회 (운영자)
      description: 발주 관리 목록에서 선택한 달성 공구의 상세 정보와 처리 상태를 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 발주 관리 식별자. 현재는 groupBuyId와 동일
      responses:
        '200':
          description: 발주 관리 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOrderDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/admin/orders/{orderId}/owner-contact:
    post:
      tags: [Admin]
      summary: 발주 사장님 연락 완료 기록 (운영자)
      description: 확정 대기 발주 건에 사장님 연락 완료 시각을 기록한다.
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 사장님 연락 완료 기록 후 발주 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOrderDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/admin/orders/{orderId}/confirm:
    post:
      tags: [Admin]
      summary: 발주 확정 처리 (운영자)
      description: 확정 대기 발주 건을 확정 완료 상태로 변경한다.
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 발주 확정 처리 후 발주 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOrderDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/admin/orders/{orderId}/cancel:
    post:
      tags: [Admin]
      summary: 발주 취소 처리 (운영자)
      description: 확정 대기 발주 건을 취소 상태로 변경한다.
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 발주 취소 처리 후 발주 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOrderDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/admin/cs-tickets:
    get:
      tags: [Admin]
      summary: CS 티켓 목록 조회 (운영자)
      description: 접수, 처리중, 완료, 전체 CS 티켓을 상태와 키워드로 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [RECEIVED, IN_PROGRESS, COMPLETED, ALL]
            default: ALL
          description: RECEIVED=접수, IN_PROGRESS=처리중, COMPLETED=완료, ALL=전체
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: 티켓 ID, 제목, 소비자 닉네임/이메일/전화번호, 공구명 검색어
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: CS 티켓 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminCsTicketPage'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/cs-tickets/{ticketId}:
    get:
      tags: [Admin]
      summary: CS 티켓 상세 조회 (운영자)
      description: 선택한 CS 티켓의 문제 설명, 관련 사용자/공구/환불, 처리 정보를 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: CS 티켓 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminCsTicketDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Admin]
      summary: CS 티켓 처리 정보 변경 (운영자)
      description: CS 티켓의 상태, 담당자, 처리 메모를 변경한다.
      security:
        - bearerAuth: []
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCsTicketUpdateRequest'
      responses:
        '200':
          description: 변경 후 CS 티켓 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminCsTicketDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/group-buys/{groupBuyId}/checkout:
    get:
      tags: [Participation]
      summary: 참여하기 화면 결제 정보 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
        - name: quantity
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
          description: 참여 수량
      responses:
        '200':
          description: 상품 요약 및 결제 금액 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckoutInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/group-buys/{groupBuyId}/payment-orders:
    post:
      tags: [Participation]
      summary: PortOne 결제 주문 생성
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/GroupBuyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentOrderCreate'
      responses:
        '200':
          description: PortOne SDK 요청에 필요한 결제 주문 정보 반환
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePaymentOrderCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/payments/portone/complete:
    post:
      tags: [Participation]
      summary: PortOne 결제 완료 서버 검증
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentConfirm'
      responses:
        '200':
          description: 결제 검증 및 참여 확정 처리 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePaymentConfirmed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/payments/portone/webhook:
    post:
      tags: [Participation]
      summary: PortOne 결제 웹훅 수신
      description: 웹훅 signature를 검증한 뒤, 본문만 신뢰하지 않고 서버에서 PortOne 결제 단건 조회 후 상태를 동기화한다. signature 검증이 활성화된 환경에서는 PORTONE_WEBHOOK_SECRET과 웹훅 헤더가 필요하다.
      parameters:
        - name: webhook-id
          in: header
          required: false
          schema:
            type: string
          description: PortOne 웹훅 메시지 ID. signature 검증이 활성화된 환경에서 필요하다.
        - name: webhook-timestamp
          in: header
          required: false
          schema:
            type: string
          description: PortOne 웹훅 signature 생성 기준 시각. signature 검증이 활성화된 환경에서 필요하다.
        - name: webhook-signature
          in: header
          required: false
          schema:
            type: string
          description: PortOne 웹훅 signature. signature 검증이 활성화된 환경에서 필요하다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortOneWebhook'
      responses:
        '200':
          description: 웹훅 수신 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePortOneWebhook'

  /api/v1/participations/{participationId}/cancel:
    post:
      tags: [Participation]
      summary: 참여 취소 (달성 전 이탈)
      description: 공구 달성 전에만 취소 가능하며 결제 금액이 자동 환불된다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelParticipationRequest'
      responses:
        '200':
          description: 참여 취소 및 환불 처리 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCancelParticipation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────────────────────
  # Pickup & QR
  # ─────────────────────────────────────────────────────────────
  /api/v1/participations/{participationId}/pickup:
    get:
      tags: [Pickup]
      summary: 픽업 안내 정보 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      responses:
        '200':
          description: 픽업 안내 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePickupInfo'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/participations/{participationId}/qr:
    get:
      tags: [Pickup]
      summary: QR 픽업 코드 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      responses:
        '200':
          description: QR 코드 데이터
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseQrCode'

  /api/v1/pickups/me/nearest-qr:
    get:
      tags: [Pickup]
      summary: 피드용 가장 가까운 픽업 QR 조회
      description: |
        피드 진입 시 사용자의 가장 가까운 픽업 QR 후보를 조회한다.
        당일 픽업 예정 건이 있으면 픽업 시작 시간이 가장 빠른 건을 반환하고,
        당일 건이 여러 개면 hasMultipleToday=true로 내려준다.
        당일 픽업 건이 없고 향후 픽업 예정 건만 있으면 LOCKED 상태와 qrCode=null로 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 가장 가까운 픽업 QR 후보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNearestPickupQr'

  /api/v1/pickups/{qrCode}/verify:
    post:
      tags: [Pickup]
      summary: QR 코드 스캔 검증 및 수령 처리
      description: |
        현재 활성 역할이 SELLER 또는 ADMIN일 때만 호출할 수 있다.
        SELLER 역할 사용자가 본인 매장 공구의 소비자 QR을 스캔하면 READY → PICKED_UP으로 자동 전환한다.
        ADMIN 역할 사용자는 운영 대리 처리 용도로 매장 소속 검증 없이 처리할 수 있다.
        응답에는 사장님 스캔 결과 화면에 필요한 유저이름, 상품명, 수량, 픽업 상태를 포함한다.
      security:
        - bearerAuth: []
      parameters:
        - name: qrCode
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 수령 처리 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePickupVerify'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────────────────────
  # Notification
  # ─────────────────────────────────────────────────────────────
  /api/v1/notifications:
    get:
      tags: [Notification]
      summary: 알림 목록 조회 (폴링용)
      description: |
        현재 로그인 사용자의 활성 역할 기준으로 알림 목록을 조회한다.
        - 소비자 역할(BUYER): 소비자 알림만 조회
        - 사장님 역할(SELLER): 사장님 알림만 조회
        - 관리자 역할(ADMIN): 앱 내 알림 API를 사용할 수 없다.
        - 역할에 맞지 않는 `category`를 요청하면 400 오류를 반환한다.
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          description: |
            알림 카테고리 필터
            - 소비자 역할: `ALL`, `WISH`, `APPLY`, `PICKUP`, `REQUEST`
            - 사장님 역할: `ALL`, `TODAY_PICKUP`, `REMINDER`, `CONFIRMED`, `CANCELLED`
          schema:
            type: string
            enum: [ALL, WISH, APPLY, PICKUP, REQUEST, TODAY_PICKUP, REMINDER, CONFIRMED, CANCELLED]
            default: ALL
        - name: cursor
          in: query
          required: false
          description: "다음 페이지 조회 커서. 형식: `{occurredAt}|{id}`"
          schema:
            type: string
            example: "2026-05-22T09:00:00|101"
        - name: limit
          in: query
          required: false
          description: 조회 개수 (1~100, 기본 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 알림 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/notifications/unread-count:
    get:
      tags: [Notification]
      summary: 미읽음 알림 개수 조회
      description: |
        현재 로그인 사용자의 활성 역할 기준 scope에 해당하는 미읽음 알림 개수만 조회한다.
        - BUYER면 소비자 알림 개수만 집계
        - SELLER면 사장님 알림 개수만 집계
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 미읽음 개수
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationUnreadCountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/notifications/read-all:
    patch:
      tags: [Notification]
      summary: 전체 알림 읽음 처리
      description: |
        현재 로그인 사용자의 활성 역할 기준 scope에 해당하는 알림만 전체 읽음 처리한다.
        - BUYER면 소비자 알림만 읽음 처리
        - SELLER면 사장님 알림만 읽음 처리
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/notifications/{notificationId}/read:
    patch:
      tags: [Notification]
      summary: 알림 단건 읽음 처리
      description: 현재 로그인 사용자의 활성 역할 scope에 속한 본인 알림만 읽음 처리할 수 있다.
      security:
        - bearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────
  # MyPage
  # ─────────────────────────────────────────────────────────────
  /api/v1/users/me/participations:
    get:
      tags: [MyPage]
      summary: 내 참여 내역 상태별 조회
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: true
          schema:
            type: string
            enum: [IN_PROGRESS, PICKUP_WAITING, PICKUP_COMPLETED, CANCELLED_OR_REFUNDED]
          description: IN_PROGRESS=진행 중 / PICKUP_WAITING=픽업 대기 / PICKUP_COMPLETED=픽업 완료 / CANCELLED_OR_REFUNDED=환불·취소
      responses:
        '200':
          description: 상태별 참여 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMypageParticipationList'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/users/me/participations/in-progress:
    get:
      tags: [MyPage]
      summary: 진행 중 탭 참여 공구 목록 조회
      description: 페이지네이션 기반으로 진행 중 탭 카드를 조회한다. 정렬 기준은 참여일시(participatedAt) 내림차순이다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 진행 중 참여 공구 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseInProgressParticipationPage'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/participations/pickup-waiting:
    get:
      tags: [MyPage]
      summary: 픽업 대기 탭 참여 완료 공구 이력 조회
      description: 페이지네이션 기반으로 픽업 대기 탭 카드를 조회한다. 정렬 기준은 참여일시(participatedAt) 내림차순이다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 픽업 대기 참여 공구 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePickupWaitingParticipationPage'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/users/me/group-buy-requests:
    get:
      tags: [MyPage]
      summary: 내 공구 개설 요청 내역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 개설 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMypageGroupBuyRequestList'

  /api/v1/users/me/tabs/counts:
    get:
      tags: [MyPage]
      summary: 마이페이지 탭별 건수 조회
      description: 진행 중 · 픽업 대기 · 픽업 완료 · 환불/취소 · 개설요청 건수를 반환한다 (탭 칩 괄호 숫자용).
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 탭별 건수
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTabCounts'

  /api/v1/mypage/summary:
    get:
      tags: [MyPage]
      summary: 마이페이지 탭별 건수 조회
      description: 진행 중 · 픽업 대기 · 픽업 완료 · 환불/취소 · 개설요청 건수를 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 탭별 건수
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTabCounts'

  /api/v1/mypage/refunds:
    get:
      tags: [MyPage]
      summary: 내 환불 내역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 환불 내역 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRefundList'

  /api/v1/users/me/refunds:
    get:
      tags: [MyPage]
      summary: 내 환불 내역 조회 (마이페이지 alias)
      description: /api/v1/mypage/refunds 와 동일한 응답을 반환한다. 신규 클라이언트는 본 경로를 사용한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 환불 내역 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRefundList'

  /api/v1/mypage/group-buy-requests:
    get:
      tags: [MyPage]
      summary: 내 공구 개설 요청 내역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 개설 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMypageGroupBuyRequestList'

  # ─────────────────────────────────────────────────────────────
  # Owner
  # ─────────────────────────────────────────────────────────────
  /api/v1/owner/home/pickup-schedule:
    get:
      tags: [Owner]
      summary: 시간대별 픽업 현황 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 시간대별 현황
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePickupScheduleList'

  /api/v1/owner/group-buys:
    get:
      tags: [Owner]
      summary: 진행 중인 공구 목록 조회 (사장님용)
      description: |
        사장님이 소속된 매장의 공구를 조회한다.
        공구 상태는 진행 중(IN_PROGRESS), 달성(ACHIEVED), 미달(FAILED) 기준으로 반환한다.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 진행 중 공구 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/group-buys/summary:
    get:
      tags: [Owner]
      summary: 사장님 공구 요약 조회
      description: |
        사장님이 소속된 매장 기준으로 공구 요약 정보를 조회한다.
        - 진행 중 공구 건수
        - 달성 완료 공구 건수
        - 오늘 픽업 예정 인원 수
        - 정산 예정 금액
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 사장님 공구 요약 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuySummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/group-buys/manage:
    get:
      tags: [Owner]
      summary: 사장님 공구 관리 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - name: filter
          in: query
          required: false
          description: 상태 필터 (기본값 ALL)
          schema:
            type: string
            enum: [ALL, IN_PROGRESS, ACHIEVED, ENDED, PENDING_APPROVAL]
            default: ALL
      responses:
        '200':
          description: 사장님 공구 관리 목록 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyManageList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/group-buys/{groupBuyId}/manage/in-progress:
    get:
      tags: [Owner]
      summary: 사장님 모집중 공구 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - name: groupBuyId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 사장님 모집중 공구 상세 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyManageDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/group-buys/{groupBuyId}/manage/achieved:
    get:
      tags: [Owner]
      summary: 사장님 달성 공구 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - name: groupBuyId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 사장님 달성 공구 상세 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyManageDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/group-buys/{groupBuyId}/extension-requests:
    post:
      tags: [Owner]
      summary: 사장님 공구 기간 연장 요청
      security:
        - bearerAuth: []
      parameters:
        - name: groupBuyId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnerGroupBuyExtensionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/group-buys/{groupBuyId}/close-requests:
    post:
      tags: [Owner]
      summary: 사장님 공구 마감 요청
      description: |
        사장님 공구 마감 요청을 접수한다.
        `SOLD_OUT`, `STORE_CONDITION`은 즉시 마감 처리되며, `OTHER`는 즉시 마감되지 않고 운영자 검토 대기 상태로 저장된다.
      security:
        - bearerAuth: []
      parameters:
        - name: groupBuyId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnerGroupBuyCloseRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/admin/owner-group-buys/{groupBuyId}/close-requests/approve:
    post:
      tags: [Admin]
      summary: 사장님 공구 마감 요청 승인 (운영자)
      description: |
        `OTHER` 사유로 접수된 사장님 공구 마감 요청을 승인한다.
        승인 시 공구는 실제로 CLOSED 상태로 전환되고 사장님에게 승인 알림이 발송된다.
      security:
        - bearerAuth: []
      parameters:
        - name: groupBuyId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 마감 요청 승인 처리 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOwnerGroupBuyCloseRequestAction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/admin/owner-group-buys/{groupBuyId}/close-requests/reject:
    post:
      tags: [Admin]
      summary: 사장님 공구 마감 요청 반려 (운영자)
      description: |
        `OTHER` 사유로 접수된 사장님 공구 마감 요청을 반려한다.
        반려 시 공구 상태는 유지되며 반려 사유가 저장되고 사장님에게 반려 알림이 발송된다.
      security:
        - bearerAuth: []
      parameters:
        - name: groupBuyId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminOwnerGroupBuyCloseRequestReject'
      responses:
        '200':
          description: 마감 요청 반려 처리 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOwnerGroupBuyCloseRequestAction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/settlements/monthly-summary:
    get:
      tags: [Owner]
      summary: 사장님 월별 정산 예정 조회
      security:
        - bearerAuth: []
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: month
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 5
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerSettlementMonthlySummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/settlements/month-chips:
    get:
      tags: [Owner]
      summary: 사장님 정산 월 칩 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerSettlementMonthChipList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/settlements/items:
    get:
      tags: [Owner]
      summary: 사장님 정산 공구 카드 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
            example: 2026
        - name: month
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 5
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerSettlementItemList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/settlements/refund-requests:
    get:
      tags: [Owner]
      summary: 사장님 환불 요청 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - name: tab
          in: query
          required: false
          schema:
            type: string
            enum: [ALL, PENDING, COMPLETED]
            default: ALL
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerRefundRequestList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/owner/settlements/refund-requests/{participationId}:
    get:
      tags: [Owner]
      summary: 사장님 환불 요청 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - name: participationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerRefundRequestDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/owner/settlements/refund-requests/{participationId}/review-submissions:
    post:
      tags: [Owner]
      summary: 사장님 환불 요청 검토 제출
      security:
        - bearerAuth: []
      parameters:
        - name: participationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnerRefundReviewSubmitRequest'
      responses:
        '200':
          description: 제출 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerRefundReviewSubmit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/group-buy-requests:
    get:
      tags: [Owner]
      summary: 사장님 공구 개설 요청 목록 조회
      description: 사장님이 본인 매장 기준으로 제출한 공구 개설 요청 목록을 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 사장님 공구 개설 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyRequestList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Owner]
      summary: 사장님 공구 개설 요청 제출
      description: |
        사장님이 본인 매장에 대한 공구 개설 요청을 제출한다.
        - SELLER 권한만 요청할 수 있다.
        - storeId는 요청자에게 연결된 매장이어야 한다.
        - imageUrls의 첫 번째 key를 대표 이미지(thumbnailKey)로 저장한다.
        - 희망 공구 기간은 현재 시각 기준 최소 7일 이상이어야 한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnerGroupBuyRequestCreate'
      responses:
        '201':
          description: 사장님 공구 개설 요청 생성 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyRequestCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/group-buy-requests/{requestId}:
    get:
      tags: [Owner]
      summary: 사장님 공구 개설 요청 상세 조회
      description: 사장님이 본인 매장 기준으로 제출한 공구 개설 요청 상세와 승인/반려 상태를 조회한다.
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 사장님 공구 개설 요청 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOwnerGroupBuyRequestDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/owner/reservations:
    get:
      tags: [Owner]
      summary: 픽업 예약자 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ALL, WAITING, COMPLETED]
            default: ALL
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 예약자 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReservationPage'

  /api/v1/owner/reservations/{participationId}/complete:
    patch:
      tags: [Owner]
      summary: 수령 처리 (수동)
      description: QR 없이 수동으로 수령 완료 처리한다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '409':
          $ref: '#/components/responses/Conflict'

  # ─────────────────────────────────────────────────────────────
  # Admin
  # ─────────────────────────────────────────────────────────────
  /api/v1/admin/group-buy-requests:
    get:
      tags: [Admin]
      summary: 공구 요청 목록 조회 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ALL, IN_REVIEW, IN_CONTACT, OPENED, REJECTED]
            default: ALL
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: 요청 ID, 상품명, 가게명, 요청자 닉네임/이메일/전화번호 검색어
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 공구 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminRequestPage'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/group-buy-requests/{requestId}:
    get:
      tags: [Admin]
      summary: 공구 요청 상세 조회 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: 요청 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminRequestDetail'

  /api/v1/admin/group-buy-requests/{requestId}/status:
    patch:
      tags: [Admin]
      summary: 공구 요청 상태 변경
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRequestStatusUpdate'
      responses:
        '200':
          description: 상태 변경 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGroupBuyRequestDetail'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/admin/group-buy-requests/{requestId}/approve:
    post:
      tags: [Admin]
      summary: 소비자 공구 개설 요청 승인 및 공구 생성
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminGroupBuyRequestApprove'
      responses:
        '201':
          description: 공구 생성 및 요청 승인 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminGroupBuyRequestAction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/admin/group-buy-requests/{requestId}/reject:
    post:
      tags: [Admin]
      summary: 소비자 공구 개설 요청 반려
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminGroupBuyRequestReject'
      responses:
        '200':
          description: 요청 반려 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminGroupBuyRequestAction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/admin/owner-group-buy-requests:
    get:
      tags: [Admin]
      summary: 사장님 공구 개설 요청 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [PENDING, APPROVED, REJECTED]
          description: 미입력 시 전체 조회
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: 요청 ID, 공구명, 사장님 닉네임, 매장명 검색어
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 사장님 공구 개설 요청 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOwnerGroupBuyRequestPage'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/owner-group-buy-requests/{requestId}:
    get:
      tags: [Admin]
      summary: 사장님 공구 개설 요청 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: 사장님 공구 개설 요청 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOwnerGroupBuyRequestDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/admin/owner-group-buy-requests/{requestId}/approve:
    post:
      tags: [Admin]
      summary: 사장님 공구 개설 요청 승인 및 공구 생성
      description: 요청에 저장된 상품/가격/모집/픽업/이미지 정보로 공구를 생성한다.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '201':
          description: 사장님 요청 승인 및 공구 생성 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOwnerGroupBuyRequestAction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/admin/owner-group-buy-requests/{requestId}/reject:
    post:
      tags: [Admin]
      summary: 사장님 공구 개설 요청 반려
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminOwnerGroupBuyRequestReject'
      responses:
        '200':
          description: 사장님 요청 반려 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminOwnerGroupBuyRequestAction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/admin/refunds:
    get:
      tags: [Admin]
      summary: 환불 처리 현황 목록 (운영자)
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ALL, WAITING, COMPLETED]
            default: ALL
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 환불 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminRefundPage'

  /api/v1/admin/refunds/{participationId}/manual:
    post:
      tags: [Admin]
      summary: 수동 환불 처리
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminManualRefund'
      responses:
        '200':
          $ref: '#/components/responses/SuccessNoData'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/admin/settlements/dashboard:
    get:
      tags: [Admin]
      summary: 정산 현황 대시보드 조회 (운영자)
      description: 선택한 연월의 정산 완료 금액, 정산 예정 금액, 서비스 수수료, 총 거래액을 조회한다. 현재 서비스 수수료 정책은 0원이다.
      security:
        - bearerAuth: []
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: month
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 5
      responses:
        '200':
          description: 정산 대시보드
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminSettlementDashboard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/settlements:
    get:
      tags: [Admin]
      summary: 정산 현황 목록 조회 (운영자)
      description: 선택한 연월의 정산 예정, 정산 완료, 전체 목록을 조회한다. 현재 settlementId는 groupBuyId와 동일하다.
      security:
        - bearerAuth: []
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: month
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 5
        - name: status
          in: query
          schema:
            type: string
            enum: [SCHEDULED, COMPLETED, ALL]
            default: ALL
          description: SCHEDULED=정산 예정, COMPLETED=정산 완료, ALL=전체
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: 정산 현황 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminSettlementPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/admin/settlements/{settlementId}:
    get:
      tags: [Admin]
      summary: 정산 현황 상세 조회 (운영자)
      description: 목록에서 선택한 정산 건의 상세 팝업용 정보를 조회한다. 현재 settlementId는 groupBuyId와 동일하다.
      security:
        - bearerAuth: []
      parameters:
        - name: settlementId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 정산 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminSettlementDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────────────────────
  # ImageUpload
  # ─────────────────────────────────────────────────────────────
  /api/v1/images/presigned-urls:
    post:
      tags: [ImageUpload]
      summary: S3 이미지 업로드용 Presigned URL 발급
      description: |
        인증된 사용자의 현재 역할이 BUYER, SELLER, ADMIN 중 하나이면 호출할 수 있다.
        썸네일(최대 1장), 상품 이미지(최대 10장)에 대한 업로드 URL을 발급한다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagePresignedUploadRequest'
      responses:
        '200':
          description: Presigned URL 발급 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseImagePresignedUpload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/images:
    delete:
      tags: [ImageUpload]
      summary: S3 업로드 이미지 삭제
      description: |
        인증된 사용자의 현재 역할이 BUYER, SELLER, ADMIN 중 하나이면 호출할 수 있다.
        요청한 S3 key 목록을 삭제한다. 허용된 prefix 범위의 key만 삭제 가능하다.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageDeleteRequest'
      responses:
        '200':
          description: 이미지 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseImageDelete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ─────────────────────────────────────────────────────────────────
# Components
# ─────────────────────────────────────────────────────────────────
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    GroupBuyId:
      name: groupBuyId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ParticipationId:
      name: participationId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    RequestId:
      name: requestId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 0
    Size:
      name: size
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100

  responses:
    SuccessNoData:
      description: 성공 (데이터 없음)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseEmpty'
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    Conflict:
      description: 상태 충돌
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'
    TooManyRequests:
      description: 요청 횟수 초과
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseError'

  schemas:

    # ── 공통 응답 래퍼 ──────────────────────────────────────────
    ApiResponseEmpty:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data: { nullable: true, example: null }
        error: { nullable: true, example: null }

    ApiResponseError:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: false }
        data: { nullable: true, example: null }
        error:
          type: object
          required: [code, message, detail]
          properties:
            code: { type: string, example: GROUPBUY_NOT_FOUND }
            message: { type: string, example: 존재하지 않는 공구입니다 }
            detail: { type: string, nullable: true }

    # ── Auth ───────────────────────────────────────────────────
    KakaoLoginRequest:
      type: object
      required: [authorizationCode]
      properties:
        authorizationCode:
          type: string
          description: 카카오 인가 코드
        redirectUri:
          type: string
          nullable: true
          description: 카카오 인가 요청 시 사용한 redirect URI (서버 검증용)

    ApiResponseAuthLogin:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [accessToken, tokenType, expiresIn, isNewUser, user]
          properties:
            accessToken: { type: string }
            tokenType: { type: string, example: Bearer }
            expiresIn: { type: integer, format: int64, description: Access Token 만료 시간(초) }
            isNewUser: { type: boolean, description: 최초 가입 여부 }
            user:
              $ref: '#/components/schemas/AuthUser'
        error: { nullable: true, example: null }

    ApiResponseAccessToken:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [accessToken, tokenType, expiresIn]
          properties:
            accessToken: { type: string }
            tokenType: { type: string, example: Bearer }
            expiresIn: { type: integer, format: int64, description: Access Token 만료 시간(초) }
        error: { nullable: true, example: null }

    ApiResponseUserInfo:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          $ref: '#/components/schemas/AuthUser'
        error: { nullable: true, example: null }

    ApiResponseWithdrawalContext:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          $ref: '#/components/schemas/WithdrawalContextResponse'
        error: { nullable: true, example: null }

    ApiResponseSellerSettlementAccount:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          $ref: '#/components/schemas/SellerSettlementAccountResponse'
        error: { nullable: true, example: null }

    ApiResponseSellerBusinessProfile:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          $ref: '#/components/schemas/SellerBusinessProfileResponse'
        error: { nullable: true, example: null }

    AdditionalInfoUpsertRequest:
      type: object
      required: [nickname, phoneNumber]
      properties:
        nickname:
          type: string
          description: 2~10자, 한글/영문/숫자만 허용
          minLength: 2
          maxLength: 10
          pattern: "^[A-Za-z0-9가-힣]{2,10}$"
        phoneNumber:
          type: string
          description: 하이픈 포함 휴대폰 번호 (01X-XXXX-XXXX)
          pattern: "^01[0-9]-[0-9]{3,4}-[0-9]{4}$"

    MyPageRoleSwitchRequest:
      type: object
      required: [role]
      properties:
        role:
          type: string
          description: 전환할 역할
          enum: [BUYER, SELLER]

    WithdrawRequest:
      type: object
      properties:
        reason:
          type: string
          nullable: true
          description: 탈퇴 사유(선택)
          enum: [NO_DESIRED_GROUPBUY, INCONVENIENT_SERVICE, PRIVACY_CONCERN, OTHER]
        reasonDetail:
          type: string
          nullable: true
          maxLength: 500
          description: 탈퇴 상세 사유 (reason=OTHER 일 때 입력)

    WithdrawalContextResponse:
      type: object
      required: [currentRole, buyer, seller, recommendedScreen, forceRedirect]
      properties:
        currentRole:
          type: string
          enum: [BUYER, SELLER, ADMIN]
          description: 현재 사용자 활성 역할
        buyer:
          $ref: '#/components/schemas/BuyerWithdrawalContext'
        seller:
          $ref: '#/components/schemas/SellerWithdrawalContext'
        recommendedScreen:
          $ref: '#/components/schemas/WithdrawalScreenType'
        forceRedirect:
          type: boolean
          description: 현재 역할 화면에서 강제 이동 필요 여부
        forceRedirectTarget:
          allOf:
            - $ref: '#/components/schemas/WithdrawalScreenType'
          nullable: true
          description: 강제 이동 대상 화면 타입(forceRedirect=true일 때만 존재)

    BuyerWithdrawalContext:
      type: object
      required: [canProceed, hasPendingPickup, hasActiveParticipation, blockingReason]
      properties:
        canProceed:
          type: boolean
          description: 소비자 탈퇴 진행 가능 여부
        hasPendingPickup:
          type: boolean
          description: 수령 예정 공구 존재 여부
        hasActiveParticipation:
          type: boolean
          description: 참여 중 공구(PAID_WAITING_GOAL) 존재 여부
        blockingReason:
          $ref: '#/components/schemas/BuyerWithdrawalBlockingReason'

    SellerWithdrawalContext:
      type: object
      required: [canProceed, hasOpenGroupBuy, hasPendingCustomerPickup, blockingReason]
      properties:
        canProceed:
          type: boolean
          description: 사장님 탈퇴 진행 가능 여부
        hasOpenGroupBuy:
          type: boolean
          description: 개설된 진행중 공구 존재 여부
        hasPendingCustomerPickup:
          type: boolean
          description: 달성/완료 공구 고객 미픽업 존재 여부
        blockingReason:
          $ref: '#/components/schemas/SellerWithdrawalBlockingReason'

    WithdrawalScreenType:
      type: string
      description: 탈퇴 화면 타입
      enum: [BUYER_WITHDRAWAL, SELLER_WITHDRAWAL]

    BuyerWithdrawalBlockingReason:
      type: string
      description: 소비자 탈퇴 차단 사유
      enum: [NONE, PENDING_PICKUP]

    SellerWithdrawalBlockingReason:
      type: string
      description: 사장님 탈퇴 차단 사유
      enum: [NONE, OPEN_GROUPBUY, PENDING_CUSTOMER_PICKUP]

    OwnerWithdrawRequest:
      type: object
      properties:
        reason:
          type: string
          nullable: true
          description: 사장님 탈퇴 사유(선택)
          enum: [INCONVENIENT_SERVICE, NO_LONGER_NEEDED, PRIVACY_CONCERN, OTHER]
        reasonDetail:
          type: string
          nullable: true
          maxLength: 500
          description: 사장님 탈퇴 상세 사유 (reason=OTHER 일 때 입력)

    ApiResponseNicknameAvailability:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [nickname, available]
          properties:
            nickname: { type: string, example: 뭉치장123 }
            available: { type: boolean, example: true }
        error: { nullable: true, example: null }

    ApiResponseAdditionalInfoUpdated:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [id, nickname, phoneNumber, signupCompleted]
          properties:
            id: { type: integer, format: int64 }
            nickname: { type: string }
            phoneNumber: { type: string }
            signupCompleted: { type: boolean, example: true }
        error: { nullable: true, example: null }

    BusinessRegistrationLookupRequest:
      type: object
      required: [businessRegistrationNumber]
      properties:
        businessRegistrationNumber:
          type: string
          description: 사업자등록번호(하이픈 포함/미포함 모두 허용)
          pattern: "^\\d{3}-?\\d{2}-?\\d{5}$"
          example: "111-22-33333"

    ApiResponseBusinessRegistrationLookup:
      type: object
      required: [success, data, error]
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          required: [businessRegistrationNumber, status]
          properties:
            businessRegistrationNumber: { type: string, example: "111-22-33333" }
            status:
              type: string
              enum: [VALID, CLOSED, NOT_FOUND]
              example: VALID
            message:
              type: string
              nullable: true
              example: "사업자등록번호가 조회되지 않아 다시 입력해주세요."
[...]
