ECR_REPOSITORY_URL=
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_SERVER_DOMAIN=localhost
GRAFANA_SERVER_ROOT_URL=http://localhost:3000
ALERT_ENV=prod
ALERT_SERVICE=moongchijang-be
DISCORD_WEBHOOK_MONITORING_CRITICAL=
DISCORD_WEBHOOK_MONITORING_WARNING=
DISCORD_WEBHOOK_PAYMENT=
FLUENT_BIT_ENV=prod
